---
- name: Installing flatpakstuff
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - flatpak
      - gnome-themes-extra-data # Adwaita-Dark theme
      - xdg-desktop-portal-gtk # portal-integration for flatpak

- name: Add flathub flatpak remote to the system installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
  become: true

- name: Installing flatpaks
  community.general.flatpak:
    name: "{{ flatpaks }}"
    method: system
    state: present
  become: true
  vars:
    flatpaks:
      - com.discordapp.Discord
      - com.fastmail.Fastmail
      - com.heroicgameslauncher.hgl
      - com.nextcloud.desktopclient.nextcloud
      - com.valvesoftware.Steam
      - io.freetubeapp.FreeTube
      - org.gnome.gitlab.cheywood.Buffer
      - org.kde.krita
      - org.keepassxc.KeePassXC
      - org.mozilla.firefox # xdg-settings set default-web-browser org.mozilla.firefox.desktop
      - org.signal.Signal
      - org.speedcrunch.SpeedCrunch

- name: Installing flatpak-themes
  community.general.flatpak:
    name: "{{ flatpaks }}"
    method: system
    state: present
  become: true
  register: flatpaktheme
  vars:
    flatpaks:
      - org.gtk.Gtk3theme.Adwaita-dark

- name: Set overrides for theme-support for GTK3
  ansible.builtin.command: /usr/bin/flatpak override --env GTK_THEME=Adwaita-dark --filesystem=$HOME/.themes
  become: true
  when: flatpaktheme.changed

- name: Deploy flatpak-maintenance.service
  ansible.builtin.copy:
    dest: /etc/systemd/system/flatpak-maintenance.service
    mode: '0644'
    content: |
      [Unit]
      Description=Flatpak maintenance (update + cleanup)
      Wants=network.target
      After=network-online.target

      [Service]
      Type=oneshot
      ExecStart=/usr/bin/flatpak update -y --system
      ExecStart=/usr/bin/flatpak uninstall -y --unused --system
  become: true

- name: Deploy flatpak-maintenance.timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/flatpak-maintenance.timer
    mode: '0644'
    content: |
      [Unit]
      Description=Weekly Flatpak maintenance

      [Timer]
      OnCalendar=weekly
      Persistent=true

      [Install]
      WantedBy=timers.target
  become: true

- name: Enable and start flatpak-maintenance timer
  ansible.builtin.systemd:
    name: flatpak-maintenance.timer
    enabled: true
    state: started
    daemon_reload: true
  become: true
