---
- name: Installing generic packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - dbus
      - dbus-user-session
      - libfuse2 # appimage-support
      - libpam-systemd
      - ntfs-3g
      - xdg-user-dirs

- name: Installing boot-tools
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - plymouth
      - plymouth-themes

- name: Installing sound packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - alsa-utils
      - pipewire
      - pipewire-audio
      - pipewire-pulse
      - wireplumber

- name: Installing flatpak-stuff
  ansible.builtin.include_tasks:
    file: flatpak.yml

- name: Configuring timezone
  ansible.builtin.include_tasks:
    file: timezone.yml

- name: Installing stuff for i3
  ansible.builtin.include_tasks:
    file: i3.yml

- name: Configuring systemd-sleep
  ansible.builtin.include_tasks:
    file: systemd-sleep.yml

- name: Installing vscodium
  ansible.builtin.include_tasks:
    file: vscodium.yml

- name: Installing players
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - mpc
      - mpd
      - ncmpcpp

- name: Installing fonts
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - fonts-font-awesome
      - fonts-hack

- name: Installing thunar
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - thunar
      - thunar-archive-plugin
      - thunar-media-tags-plugin
      - gvfs-backends
      - libmtp-runtime

- name: Installing ssh/gpg-agent-stuff
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  become: true
  vars:
    packages:
      - scdaemon

- name: Removing previous experiments
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: absent
  become: true
  vars:
    packages:
      - moc
