---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name syncthing
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: syncthing
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      syncthing:
        containers:
          syncthing:
            image:
              repository: ghcr.io/syncthing/syncthing
              tag: 2.0.13@sha256:6245d798ef695715eaa08f728ff3df91182570adfe77d0fe6d952b126e7601c1
            env:
              TZ: "${TIMEZONE}"
              PUID: 1000
              PGID: 1000
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 300Mi
    service:
      syncthing:
        controller: *name
        ports:
          http:
            port: &port 8384
      transfer:
        type: LoadBalancer
        loadBalancerIP: 10.0.1.33
        controller: *name
        ports:
          tcp-transfer:
            enabled: true
            port: 22000
            protocol: TCP
          quic-transfer:
            enabled: true
            port: 22000
            protocol: UDP
    ingress:
      syncthing:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "syncthing.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: syncthing
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: syncthing
        globalMounts:
          - path: /var/syncthing
    networkpolicies:
      syncthing:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
          - Egress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Needs to connect to other nodes
              - ipBlock:
                  cidr: 0.0.0.0/0
          ingress:
            - from:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                - port: 22000
                  protocol: TCP
            - from:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                - port: 22000
                  protocol: UDP
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port