---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name metube
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      metube:
        containers:
          metube:
            image:
              repository: ghcr.io/alexta69/metube
              tag: 2025.12.26@sha256:cdd71831e2568a55dfa0212d7eabb6882ee91ac152fefe9d718e62a72e220d3a
            env:
              TZ: "${TIMEZONE}"
              DOWNLOAD_DIR: "/downloads"
              STATE_DIR: "/config"
              TEMP_DIR: "/tmp"
              OUTPUT_TEMPLATE: "%(title)s_-_[%(id)s].%(ext)s"
              YTDL_OPTIONS: |
                {
                  "format": "bestvideo[height<=1080][vcodec!*=av01]+bestaudio/best",
                  "merge_output_format": "mkv",
                  "restrictfilenames": true,
                  "verbose": true,
                  "writesubtitles": true,
                  "subtitleslangs": [
                    "en",
                    "no"
                    ],
                  "clean_infojson":true,
                  "writethumbnail":true,
                  "postprocessors": [
                        {"key":"SponsorBlock"},
                        {"key":"EmbedThumbnail"},
                        {"key":"FFmpegEmbedSubtitle"},
                        {"key":"FFmpegSubtitlesConvertor","format":"srt","when":"before_dl"},
                        {"key":"FFmpegMetadata","add_metadata":"True","add_infojson":"True","add_chapters":"True"}
                  ]
                }
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 600Mi
    service:
      metube:
        controller: *name
        ports:
          http:
            port: &port 8081
    ingress:
      metube:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "metube.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: metube
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: metube
      tmp:
        enabled: true
        type: emptyDir
      media:
        enabled: true
        existingClaim: media
        advancedMounts:
          metube:
            metube:
              - path: /downloads
                subPath: video/web
    networkpolicies:
      metube:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port