---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name mailbackup
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: mailbackup
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      mailbackup:
        type: cronjob
        cronjob:
          schedule: "05 */6 * * *"
        containers:
          mailbackup:
            image:
              repository: docker.io/jakewharton/mbsync
              tag: 1.4.1@sha256:83e7894be29ca5a790fd96046393dbaa14aebc688a35a6d6e032f0b678f23547
            command: ['/usr/bin/mbsync']
            args: ["-V", "-a", "-c", "/config/mbsync.rc"]
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      mailbackup:
        enabled: true
        existingClaim: mailbackup
      mbsync:
        enabled: true
        type: secret
        name: mbsync
        defaultMode: 0600
        advancedMounts:
          mailbackup:
            mailbackup:
              - path: /config/mbsync.rc
                subPath: mbsync.rc
                readOnly: true
    networkpolicies:
      mailbackup:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Smarthost IMAP
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 993
                  protocol: TCP
          ingress: []