apiVersion: v1
kind: Secret
metadata:
    name: awx-basic-auth
    namespace: awx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:JSxT,iv:0XBZtb9BT+SJYXXmCPKH/M0ASFl6qN572bHQzTQTdDU=,tag:VmPfJGkCh02156juchxsMg==,type:str]
    password: ENC[AES256_GCM,data:6DNJfqNhERTZutH0OwR44V7vpfpAX/8fCv8cZLPLK7QN7ikg401RW2i4aneXp7sAVHzFNZlIGwlb9AhYq1Y28w==,iv:88GCPicayRaYtQ4jsD1HiStSYomW952TLoPXdtnRTsU=,tag:NorN6sltn2TwRptyGDwFGw==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhVkRKdjhqQklGeVZRMSsw
            YlFSb2Q1YTQ5VVlicmd0cUFWUnZPSXRwM24wCmZuUjkrRXRUMGk4cjM2eGtNQUN1
            REdkQ1c5cVhoTEw5aHVIQzBMWXBIU0kKLS0tIE1UMHJPN3U5aHFTNnYwVHdURVAz
            Tzl3RTBpdk5RT29LaU1WcWYySzVNRzAK9AbKy1Rqpfk+2gqkyQPtjRojzJcIIfBH
            CPoTN6egsbh7qdc98B3ESlSHxrEZ6KO3S9fooAGKo31D/ig1mriuiw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T22:54:03Z"
    mac: ENC[AES256_GCM,data:PW8Vi//CQQRBIwBhk1KTFzf+Z5+kE0qqcJY/0Pi9VJvZ992OxeLeZgaT3p2oAX/DPjplC7DbVMtiUK1jVxQcFL6UDKYfSruxay9mFykK4luLhyvKhU8B9MblFz9HfaxcpqYd7v1LPo9Qg0j5ACIl0Hj2RLfmcGxYJ2WZLFl5MfQ=,iv:Nq2HNC3UO6gV+eDJyRoYZjzSloDZXJNCCRyYf2Z0P8k=,tag:mco6ccCQe1MU0KYT4kLnMA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: awx-postgres-v18
    namespace: awx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:/iFNNZvArDeT05rX1TMBtD2X5k4=,iv:opRJWUF2VAUuLLBSzLHF/G8me6aILLuMUHa6NkspGRc=,tag:gxzjVfDBk31Oll3CycI+og==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:jYTOu/awbbCfpnHACkhuCUGxxsik+qgicJKwr7mL3gGOIltPB1IdVw==,iv:todmE/WQn1+7W6xywBCnXBu+3wuEbvCJxWXXfPw3yxc=,tag:w12hulnbKwJHWLFveD3jFg==,type:str]
    password: ENC[AES256_GCM,data:Fuzta4YVNT+0BflHIZqI16G5JZx+C0a2RKnIYN9t3sGXVv7k4ZTC8kDBuXZPTg/YPKTiuuWhw87RmLl08orKBA==,iv:OTGg6BJuISNgFppB/DX3ULJfHo68RXsX75QwrF9sTQk=,tag:ehdSp8UgqgU8ssm09DVyRQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhVkRKdjhqQklGeVZRMSsw
            YlFSb2Q1YTQ5VVlicmd0cUFWUnZPSXRwM24wCmZuUjkrRXRUMGk4cjM2eGtNQUN1
            REdkQ1c5cVhoTEw5aHVIQzBMWXBIU0kKLS0tIE1UMHJPN3U5aHFTNnYwVHdURVAz
            Tzl3RTBpdk5RT29LaU1WcWYySzVNRzAK9AbKy1Rqpfk+2gqkyQPtjRojzJcIIfBH
            CPoTN6egsbh7qdc98B3ESlSHxrEZ6KO3S9fooAGKo31D/ig1mriuiw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T22:54:03Z"
    mac: ENC[AES256_GCM,data:PW8Vi//CQQRBIwBhk1KTFzf+Z5+kE0qqcJY/0Pi9VJvZ992OxeLeZgaT3p2oAX/DPjplC7DbVMtiUK1jVxQcFL6UDKYfSruxay9mFykK4luLhyvKhU8B9MblFz9HfaxcpqYd7v1LPo9Qg0j5ACIl0Hj2RLfmcGxYJ2WZLFl5MfQ=,iv:Nq2HNC3UO6gV+eDJyRoYZjzSloDZXJNCCRyYf2Z0P8k=,tag:mco6ccCQe1MU0KYT4kLnMA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
