apiVersion: v1
kind: Secret
metadata:
    name: awx-basic-auth
    namespace: awx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:93VI,iv:o5hRDZPi9ZZTsrPTE0SeFK1lw5WT/tJVwDVGFsTzMHk=,tag:v3ATz/EmcSSl2hfbvMkM8A==,type:str]
    password: ENC[AES256_GCM,data:1LiyelPGGYVx4W6SS8fzqHXahEHBRSs+J6NnyTV84oIPUgn8A+CGYZWrrmDiP7O7FsRpp0FWiflQtsKK3uP14w==,iv:SJjP2fmi5KAwrY2yVSzfj77WQtQKiEbSYreqoomGA2E=,tag:FOGWHdho5Q3hSfTApl9g+g==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArVDkxZ2F5TWJNWlEvQlEr
            bWNqcUp5bk9pRjJQd1lVdHJKakhZcDN0WTFZCi9PY2R6ZFFDbUpjSnNJN1cwek9t
            dGpUR3UvQ2NHTlgwaU5LUTY2RUlQK1EKLS0tIEhHOWtpem1IajhLeHdGb3U5NjF2
            bm12czc2V2taNS9lK3MxR2VxaDdGVVEKhIwbCb/XjBrsLAO1xE8wVlJECr4SJNRK
            m7diLwjvw2P6Vucm8ueYjYPJHwZtUmZKtIex+05HOpZthC+mSWWjzA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T16:26:27Z"
    mac: ENC[AES256_GCM,data:JTxBghWf8dgnEWEL+V+zG9vri/v8YNaMk1MCxhwB/0aR5tWKyR6YK2LCswiS1IzsQ8wzl/799uuhoSQKN5fo9Z4kQSBRW6gJiKz2Cd7BZnXwPaQfIe6FaiG0OFe2XDk+BpZUSI0goz5xtVnmNKuFmyKZS3uzsH3SLTCDFBDkAMk=,iv:k8t9pfRgA34ZUYWNxzgt6XsEpA4IQME74IvlHEW5eH4=,tag:EEhVUom2wXHUWmOIqRX/TQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: awx-postgres-v18
    namespace: awx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:LcRmfzg3rOF/+V6s6a/jPKqj7QI=,iv:nLg/TnsZ4/DhYKI2IFNfHUStCIX51nOwD02pux76+0M=,tag:4D3d+hcy19Gm843uFpJPxg==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:HfLLTWjz1dIJZ++OeCxoPaiogDrOcKc1kLgF0hZSWoI9iP+YuJ5M9A==,iv:phVHshvcsqnqfXoSW0mYUePEOzOYWab0mG1uR5QfFlA=,tag:53OAlx735UgCyuzcnWM1Kw==,type:str]
    region: ENC[AES256_GCM,data:9d78jjeP,iv:QNyIG/TT5ZgqqUMp8shsGLsqNTkvJbmLRcSfy9LpkT4=,tag:bL5dlAVtFZ6TaWFkLNM6pA==,type:str]
    password: ENC[AES256_GCM,data:XryCUpvNRZ/fUqwCBH9o6UrIwnzAtpY2vriM7PRMpYuc8g+fNrQ7LxNyhwiCAc8zRAwtwL9wP6WtrNRRvngpEA==,iv:rg+37dgpdpXqxBzAtGcrxdRdaW1pGGk6i3Uu0iEItvA=,tag:xOY5Rs2JbERUSKCq4AhuDQ==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArVDkxZ2F5TWJNWlEvQlEr
            bWNqcUp5bk9pRjJQd1lVdHJKakhZcDN0WTFZCi9PY2R6ZFFDbUpjSnNJN1cwek9t
            dGpUR3UvQ2NHTlgwaU5LUTY2RUlQK1EKLS0tIEhHOWtpem1IajhLeHdGb3U5NjF2
            bm12czc2V2taNS9lK3MxR2VxaDdGVVEKhIwbCb/XjBrsLAO1xE8wVlJECr4SJNRK
            m7diLwjvw2P6Vucm8ueYjYPJHwZtUmZKtIex+05HOpZthC+mSWWjzA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T16:26:27Z"
    mac: ENC[AES256_GCM,data:JTxBghWf8dgnEWEL+V+zG9vri/v8YNaMk1MCxhwB/0aR5tWKyR6YK2LCswiS1IzsQ8wzl/799uuhoSQKN5fo9Z4kQSBRW6gJiKz2Cd7BZnXwPaQfIe6FaiG0OFe2XDk+BpZUSI0goz5xtVnmNKuFmyKZS3uzsH3SLTCDFBDkAMk=,iv:k8t9pfRgA34ZUYWNxzgt6XsEpA4IQME74IvlHEW5eH4=,tag:EEhVUom2wXHUWmOIqRX/TQ==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
