apiVersion: v1
kind: Secret
metadata:
    name: awx-basic-auth
    namespace: awx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:/GMu,iv:Nv4j9JsT418oTl44dKEwuo8aDS2wxr9mCUf2uek6J7Y=,tag:BuFXCC3AqQsjP3YPxoKGIA==,type:str]
    password: ENC[AES256_GCM,data:uLzhV3BMdOX0LnAbC0RP0Ij9SI+ViUAtFYeOWiGBt/WwIB9N0QuUnA2Ed0vhexh3UDy/Gl5AW5EthxTnAdPhEQ==,iv:EWf4eOaHVWCbSQNLiFPZYdOZ5voNrG9KLDdd4mBDX38=,tag:b3UB3yX+Zijf+h9Vaw/owQ==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsMWhUMC9aZ1B1TGN4emhs
            Qm5BOTh3YjJpMDVMQnk0Njd3bzZ6ams5QndFCmplb01kdGJUVzc3eFJvUDhhdm9R
            eGhQKzIvNURnaXdwSWZCQko5MmRmODQKLS0tIGJTeS9aSHFwZFRSdXVSbjBnTjFR
            ZnpVdk9lRUJJS040TTM0NVVQSTBNbncKiPNhch4+B6FwwcAKJaFvfqDm5NUqtOx/
            xsFu74OC0udhhkK9tUHS0Lb7KCJ2RNBPL7pqOgOd7sgtAeMbrkVA8Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T17:27:47Z"
    mac: ENC[AES256_GCM,data:IaZ/CXAEExnenLWPUloHCwq+viXni/uuKIV7TLVhDrtpLCUdiHocAtYKI+DFlRubdWTAhPylEP5uDQcLCdZ/AbS8SLbuUoAw0Ves734t89c1Hj2DLwi6oZr4PmbZs0e6x7QOxKG904OCmIpKe5Pa/IWKteQA4slDskdPa6BxTqo=,iv:91Tb33cCjqA4osWmQvC8TDrC/GM+WuZDtNSS3+Uq3To=,tag:dvCroPggXabyoK62SwVqdg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: awx-postgres-v18
    namespace: awx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:hYF15Y9otgG4LXlY1XPWbviJPYE4/JUya2w=,iv:1tMCE34uOCPEbOI7STGiopygh+pjzWFtieNs54qhQVg=,tag:laL3xYRn9jL4Lvdqk8gLQw==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:Hj6i/A6CU6rQudTz0xTWns4YL6WQaokSRsnlZKq3HuhGHSKRs6yLyqIa1aYjggZfIGrOHsrUR6bUObdUbGqzxg==,iv:iiL9J8XOGVisofHkqvT6DLMhHCoKhaylWBi0hEJZoRo=,tag:vXTN6RRY7py1mntA1cL3SQ==,type:str]
    region: ENC[AES256_GCM,data:BL9aUEcw,iv:iC94qtawfwaGfQAtYVxpNhVIAFcgIO0LMxxqraGTero=,tag:V6uxnHGb96iukGKjSx3iNA==,type:str]
    password: ENC[AES256_GCM,data:KrQeRBxcm8pJAHmmUVKzpltDWQlzqqRMFlRyH4kV/v3Lc6BjOrkjFCXlDMOvgDa2HaQTYXgo6CbwPBVNfEYpQA==,iv:P4SBSnO93nkSpdFZpVr+BaxHV+U1NdhQOEXe1b6Wtfc=,tag:M3Bx0SmbPPDVddpkqq8Vxw==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsMWhUMC9aZ1B1TGN4emhs
            Qm5BOTh3YjJpMDVMQnk0Njd3bzZ6ams5QndFCmplb01kdGJUVzc3eFJvUDhhdm9R
            eGhQKzIvNURnaXdwSWZCQko5MmRmODQKLS0tIGJTeS9aSHFwZFRSdXVSbjBnTjFR
            ZnpVdk9lRUJJS040TTM0NVVQSTBNbncKiPNhch4+B6FwwcAKJaFvfqDm5NUqtOx/
            xsFu74OC0udhhkK9tUHS0Lb7KCJ2RNBPL7pqOgOd7sgtAeMbrkVA8Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T17:27:47Z"
    mac: ENC[AES256_GCM,data:IaZ/CXAEExnenLWPUloHCwq+viXni/uuKIV7TLVhDrtpLCUdiHocAtYKI+DFlRubdWTAhPylEP5uDQcLCdZ/AbS8SLbuUoAw0Ves734t89c1Hj2DLwi6oZr4PmbZs0e6x7QOxKG904OCmIpKe5Pa/IWKteQA4slDskdPa6BxTqo=,iv:91Tb33cCjqA4osWmQvC8TDrC/GM+WuZDtNSS3+Uq3To=,tag:dvCroPggXabyoK62SwVqdg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
