apiVersion: v1
kind: Secret
metadata:
    name: awx-basic-auth
    namespace: awx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:Jtqr,iv:2shmJACIX0NdX6Yo4yCWXS4xNhp3rJqqDQ/CyUljoug=,tag:3Nf2MhZHhribr5GpmEdNHw==,type:str]
    password: ENC[AES256_GCM,data:vGb5gj2IH5UbfswfQsRC20ZqKT1GEGohOYQh+WKAbW+X53qYOqYc0JQ2Yp/fisZu92EGqFLvuKmNia7qPzR3vg==,iv:uzW4pSQp4kZnFKnidQ4f16IfGx/Wqk2T7J2y6mN/iZ8=,tag:AcMiPnDlJRkEhZOpKn5m4Q==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTNjZud3RtaDJWVERUMzhJ
            WXFmSlQvME1ZZUQvSFdqQXZ4Q3Q3S3V1b1ZJCm1WNXYwcmgxM3MwL05WU1VyVmJx
            ODY3R2FRZzhZbS9ZcC9pY094QVUxenMKLS0tIDRRd3kyVFhMVTA2R3JjOHZyNXdE
            cDJFWDc4Y0NHNno1Skxza3FwNVlKMG8Koa7drnO7ecjRal2fuPD9c5AxLxuXceKM
            T6d4WtJDQFzRO07+pqKLRLRDnRHxTlWJRx9T7H/0c9iGe8xHIy5jSg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T13:28:57Z"
    mac: ENC[AES256_GCM,data:7duatk+T9r1Ao6rhl7nVjhT5xp8w46b2k526YkS5mw+hITXpUoi7aUa9RXNM9nrBq+kjHPyBbQm0AFgZziclh4obNSSY7vVlQGq1DJ7qjXf0eLgwaTJwV7gpAO7hs9jxK4iM6yZcuf6meS87/TEgWubnqCtAbp1+Qq4KlXujM7M=,iv:nC5X+Fj0C25SKkMkh17Z1aHX14k5xYyg10ON6xJXK14=,tag:kxTK7hY/3XyOT8M3ovHMwQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: awx-postgres-v17
    namespace: awx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:wUYBaFl/E7h2TuoMNjzsgmFXP6E=,iv:RNnW/ofptLJnRZwtvWoArdpuZy1h5DdsnAbGtbdahSg=,tag:Aky9sc9M982Ze2tKHDAHfQ==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:reqQU+PtKPMrHs2y0LaYzaZbGjgodQB/gMIhS7yZdmmtNDqIUc/6mw==,iv:toNml1pg3q3WMXN1O9i4H7ax1dLj3jsuEVjnrL72KX4=,tag:IQ+//vrMc+55oeGkIHIusQ==,type:str]
    password: ENC[AES256_GCM,data:/2G5IR9VFYdeNZcMqLXmyIofeV1Dt5ukNMd7CzNqkFeZDwaHtu0bTdYUljPbXhbNcOSpa2u7bYr+wZK8XjjvWQ==,iv:LQqsCagoHV1+37d4333qpPFjTa577wDn1f+udyRCAcY=,tag:dbmv5Z0ryczOPnzuI2JsVQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTNjZud3RtaDJWVERUMzhJ
            WXFmSlQvME1ZZUQvSFdqQXZ4Q3Q3S3V1b1ZJCm1WNXYwcmgxM3MwL05WU1VyVmJx
            ODY3R2FRZzhZbS9ZcC9pY094QVUxenMKLS0tIDRRd3kyVFhMVTA2R3JjOHZyNXdE
            cDJFWDc4Y0NHNno1Skxza3FwNVlKMG8Koa7drnO7ecjRal2fuPD9c5AxLxuXceKM
            T6d4WtJDQFzRO07+pqKLRLRDnRHxTlWJRx9T7H/0c9iGe8xHIy5jSg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T13:28:57Z"
    mac: ENC[AES256_GCM,data:7duatk+T9r1Ao6rhl7nVjhT5xp8w46b2k526YkS5mw+hITXpUoi7aUa9RXNM9nrBq+kjHPyBbQm0AFgZziclh4obNSSY7vVlQGq1DJ7qjXf0eLgwaTJwV7gpAO7hs9jxK4iM6yZcuf6meS87/TEgWubnqCtAbp1+Qq4KlXujM7M=,iv:nC5X+Fj0C25SKkMkh17Z1aHX14k5xYyg10ON6xJXK14=,tag:kxTK7hY/3XyOT8M3ovHMwQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: awx-postgres-v18
    namespace: awx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:OScWAX42Wa6h+V6PJUfJOwHOmWk=,iv:QIDnyEIBjx5PmZqEIjjIudnOxCUJok8piG2DQXBkdZw=,tag:GfynU/Y2fwCQIvCjwBYwYw==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:D0iF+npHAcP3xyo+S7r4sVCb5Snk5waHSVeFaHcZyaPLpyeAsnm3Fg==,iv:1rOb9ruzGINosbIL0eywBajNUYhrHb0AUznZTYJ/uO8=,tag:a6YN3FU+5eteGanA0coOog==,type:str]
    password: ENC[AES256_GCM,data:DojF/hA1O34dd/5qL4OAAEi4atur3m+1VreRF8Gk0qaAw59OXah0YoclZ4gIXMgChPgakt7WvEmz+IgLk2RkvA==,iv:+7s3d7PjqtqbSN/3WGntJRw5No77aoUyLlJdYT2t5Yo=,tag:O1z6dEt8gi+JTuDhmSWBnQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTNjZud3RtaDJWVERUMzhJ
            WXFmSlQvME1ZZUQvSFdqQXZ4Q3Q3S3V1b1ZJCm1WNXYwcmgxM3MwL05WU1VyVmJx
            ODY3R2FRZzhZbS9ZcC9pY094QVUxenMKLS0tIDRRd3kyVFhMVTA2R3JjOHZyNXdE
            cDJFWDc4Y0NHNno1Skxza3FwNVlKMG8Koa7drnO7ecjRal2fuPD9c5AxLxuXceKM
            T6d4WtJDQFzRO07+pqKLRLRDnRHxTlWJRx9T7H/0c9iGe8xHIy5jSg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T13:28:57Z"
    mac: ENC[AES256_GCM,data:7duatk+T9r1Ao6rhl7nVjhT5xp8w46b2k526YkS5mw+hITXpUoi7aUa9RXNM9nrBq+kjHPyBbQm0AFgZziclh4obNSSY7vVlQGq1DJ7qjXf0eLgwaTJwV7gpAO7hs9jxK4iM6yZcuf6meS87/TEgWubnqCtAbp1+Qq4KlXujM7M=,iv:nC5X+Fj0C25SKkMkh17Z1aHX14k5xYyg10ON6xJXK14=,tag:kxTK7hY/3XyOT8M3ovHMwQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
