---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: awx-operator
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: awx-operator
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: awx-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: awx
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: awx
