---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny
  namespace: awx
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: awx-database
  namespace: awx
spec:
  podSelector:
    matchLabels:
      cnpg.io/cluster: awx-postgres-v17
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: awx-task
              app.kubernetes.io/part-of: awx
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: awx-web
              app.kubernetes.io/part-of: awx
      ports:
        - port: 5432
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: awx-web
  namespace: awx
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: awx-web
      app.kubernetes.io/part-of: awx
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: haproxy-controller
          podSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-ingress
      ports:
        - port: 8052
  egress:
    - to:
        - podSelector:
            matchLabels:
              cnpg.io/cluster: awx-postgres-v17
      ports:
        - port: 5432
          protocol: TCP
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: awx-task
  namespace: awx
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: awx-task
      app.kubernetes.io/part-of: awx
  policyTypes:
    - Ingress
    - Egress
  ingress: []
  egress:
    - to:
        - podSelector:
            matchLabels:
              cnpg.io/cluster: awx-postgres-v17
      ports:
        - port: 5432
          protocol: TCP
    - to:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: awx-web
              app.kubernetes.io/part-of: awx
      ports:
        - port: 8052
          protocol: TCP
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP