---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux2-notifications
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: flux2
      namespace: flux-system
    - name: kube-prometheus-stack-crds
      namespace: flux-system
  values:
    resources:
      - apiVersion: notification.toolkit.fluxcd.io/v1beta3
        kind: Provider
        metadata:
          name: alertmanager
          namespace: flux-system
        spec:
          type: alertmanager
          address: http://alertmanager-operated.monitoring.svc.cluster.local:9093/api/v2/alerts/
      - apiVersion: notification.toolkit.fluxcd.io/v1beta3
        kind: Provider
        metadata:
          name: discord
          namespace: flux-system
        spec:
          type: discord
          address: "${SECRET_DISCORD_FLUXCD_URL}"
      - apiVersion: notification.toolkit.fluxcd.io/v1beta3
        kind: Alert
        metadata:
          name: alertmanager
          namespace: flux-system
        spec:
          eventMetadata:
            cluster: "${CLUSTER_NAME}"
          providerRef:
            name: alertmanager
          eventSeverity: error
          eventSources:
            - kind: GitRepository
              name: "*"
            - kind: HelmRelease
              name: "*"
            - kind: HelmRepository
              name: "*"
            - kind: Kustomization
              name: "*"
            - kind: OCIRepository
              name: "*"
          exclusionList:
            - "*etcdserver: leader changed"
          suspend: false
      - apiVersion: notification.toolkit.fluxcd.io/v1beta3
        kind: Alert
        metadata:
          name: helm-info-discord
          namespace: flux-system
        spec:
          eventMetadata:
            cluster: "${CLUSTER_NAME}"
          providerRef:
            name: discord
          eventSeverity: info
          eventSources:
            - kind: HelmRelease
              name: '*'
              namespace: '*'
          exclusionList:
            - "*etcdserver: leader changed"
          suspend: false
      - apiVersion: notification.toolkit.fluxcd.io/v1beta3
        kind: Alert
        metadata:
          name: notify-error-discord
          namespace: flux-system
        spec:
          eventMetadata:
            cluster: "${CLUSTER_NAME}"
          providerRef:
            name: discord
          eventSeverity: error
          eventSources:
            - kind: Kustomization
              name: apps
            - kind: Kustomization
              name: core
            - kind: Kustomization
              name: github-davralin-cluster-ops
            - kind: Kustomization
              name: monitoring
            - kind: Kustomization
              name: storage
            - kind: HelmRelease
              name: '*'
          exclusionList:
            - "*etcdserver: leader changed"
          suspend: false
      - apiVersion: monitoring.coreos.com/v1
        kind: PodMonitor
        metadata:
          name: flux-system
          namespace: flux-system
          labels:
            app.kubernetes.io/part-of: flux
            app.kubernetes.io/component: monitoring
        spec:
          namespaceSelector:
            matchNames:
              - flux-system
          selector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - helm-controller
                  - source-controller
                  - kustomize-controller
                  - notification-controller
          podMetricsEndpoints:
            - port: http-prom