---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: probe
  namespace: meshtastic
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: meshtastic
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: flux-system
    - name: blackbox-exporter
      namespace: flux-system
  values:
    resources:
      - apiVersion: monitoring.coreos.com/v1
        kind: Probe
        metadata:
          name: urlmonitoring
          namespace: meshtastic
        spec:
          module: http_2xx
          prober:
            url: "${BLACKBOX_EXPORTER_URL}"
          targets:
            staticConfig:
              static:
                - "https://meshtastic.${SECRET_DEFAULT_DOMAIN}"