---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name mvidarr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      mvidarr:
        containers:
          mvidarr:
            image:
              repository: ghcr.io/prefect421/mvidarr
              tag: 0.11.0@sha256:6703408a2b09e6e994cd200feb0369ee60a0e3448742349d8a8c1a553ffca692
            env:
              TZ: "${TIMEZONE}"
              DEBUG: true
              PUID: 1000
              PGID: 1000
              REDIS_URL: redis://mvidarr-valkey.media.svc.cluster.local:6379/0
              CELERY_BROKER_URL: redis://mvidarr-valkey.media.svc.cluster.local:6379/0
              CELERY_RESULT_BACKEND: redis://mvidarr-valkey.media.svc.cluster.local:6379/1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                 - CHOWN
                drop:
                  - ALL
    service:
      mvidarr:
        controller: *name
        ports:
          http:
            port: &port 5000
    ingress:
      mvidarr:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "mvidarr.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: mvidarr
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/data/cache
      data:
        enabled: true
        existingClaim: mvidarr
        globalMounts:
          - path: /app/data
      downloads:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/data/downloads
      logs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/logs
      musicvideos:
        enabled: true
        existingClaim: media
        advancedMounts:
          mvidarr:
            mvidarr:
              - path: /app/data/musicvideos
                subPath: video/musicvideos
    networkpolicies:
      mvidarr:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/name: mvidarr-valkey
              ports:
                - port: 6379
            - to: # Needs to connect to the world
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port