---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name kyverno
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kyverno
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: kyverno-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: kyverno
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    grafana:
      enabled: "${MONITORING_PROMETHEUS}"
    admissionController:
      networkPolicy:
        enabled: true
      serviceMonitor:
        enabled: "${MONITORING_PROMETHEUS}"
    backgroundController:
      networkPolicy:
        enabled: true
      serviceMonitor:
        enabled: "${MONITORING_PROMETHEUS}"
    cleanupController:
      networkPolicy:
        enabled: true
      serviceMonitor:
        enabled: "${MONITORING_PROMETHEUS}"
    reportsController:
      networkPolicy:
        enabled: true
      serviceMonitor:
        enabled: "${MONITORING_PROMETHEUS}"