---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name ollama
  namespace: flux-system
spec:
  interval: 30m
  timeout: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: ollama
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      ollama:
        containers:
          ollama:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.16.2
            env:
              TZ: "${TIMEZONE}"
              OLLAMA_KEEP_ALIVE: -1
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # Error: could not create directory mkdir /.ollama: read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              # This is obviously only to handle it being idle
              requests:
                cpu: 200m
                memory: 2Gi # To make sure there's some headroom
    service:
      ollama:
        controller: *name
        ports:
          http:
            port: &port 11434
    ingress:
      ollama:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/backend-config-snippet: |
            option http-keep-alive
            timeout server 300000ms
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "ollama.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: ollama
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: ollama
        globalMounts:
          - path: /root/.ollama
    networkpolicies:
      ollama:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Needs to fetch new models
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 80
                  protocol: TCP
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: openwebui
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: openwebui
                      app.kubernetes.io/instance: openwebui-openwebui
                      app.kubernetes.io/name: openwebui-openwebui
              ports:
                - port: *port