---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name node-feature-discovery
  namespace: flux-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  targetNamespace: node-feature-discovery
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
    crds: CreateReplace
  values:
    fullnameOverride: *name
    prometheus:
      enable: "${MONITORING_PROMETHEUS}"
    master:
      annotations:
        reloader.stakater.com/auto: "true"
    worker:
      annotations:
        reloader.stakater.com/auto: "true"
      config:
        core:
          labelSources:
            - cpu
            - pci
            - system
            - usb
          klog:
            v: 3