---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny
  namespace: node-feature-discovery
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: node-feature-discovery
  namespace: node-feature-discovery
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: node-feature-discovery
      role: master
  egress:
    - toEntities:
      - kube-apiserver