apiVersion: v1
kind: Secret
metadata:
    name: authentik-basic-auth
    namespace: authentik
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:BqAjMcL2bC1n,iv:CipoYxNlemZFgyHRq3Aptf6IS42khptqUbv1nWEOCAE=,tag:6+AAvVvAy/6fClroGkrIcA==,type:str]
    password: ENC[AES256_GCM,data:VZf9r6oqRb6PKky21E++3BYhvd/sIwM+VvpGQdRvjBI=,iv:movap5qdw6xb0fL8i3dQxbs9ZKEtS7bx2cF19gu+dFc=,tag:Vov7le+vzzPW9VPyszdDmQ==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBMSUVWQkMxOGxqV0lhUlJ3
            V2J4SzRNRmV3YWR6MUYrZ3NLUzNJZkJHOFEwCm1iZWlWKzV4cC9aZi85cXhrcDdX
            V3NtTUdiRjdqV2haK0UzRHpKTHBnaFkKLS0tIGE4TzBiNk1Bc3JUUm4vOTR1aXU2
            R216bWFqRlpXb1l0MEZCdUxIcTBWdUEKCZrsoxe+tc6sMsxoVVF3j8cmldGTu+PM
            qxYU0y7T1pcFhKv7K0cIZQC8EbVJLWhHMG3bkBNVsY8th939MUngdA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T11:54:47Z"
    mac: ENC[AES256_GCM,data:pdwDp9yeXiEgEHWl0hHA10f5GnfXKaJsMXWB4j+Ao1aLoSoo4jftcg2Y7zTk4L/KcRoipt8o6Rc+FxWD3pVQZBZTsSN0RQ61yBLdwKaMJ8m6ofCyGm0KsgpF4zmvvtEuRxoDs4MysQTeCOxf2kT8GIG3UFmO4m7h2+THiaiM0v8=,iv:7LKiVEapKiwC3fW0S3cbwMZ1ckCvkDkFK7r3tI3Wiu8=,tag:eYODF7xWlnEAx0sQlvyS/Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: authentik-postgres-v18
    namespace: authentik
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:ztFc7bmpGY68GMF6mxa11lAGQn1VjF7HBYM=,iv:fQWTy61jizcsTitfH2ymwG4NaEwXZ4TJ9cZw/ZuqK98=,tag:QUpn185F2nzGUOvqneuyVA==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:leZS+yQaWbKzc/wxAuqrJo8LjDx5GmkmvN0lz4UkhiU76efQIqHxQniP/r2peMXpzlML/brSw6dIId/Egtpakg==,iv:dpJRbcRW1FO/6y0bNEAvQYhtsGYbDLLg4zgf37sJ9FU=,tag:WLnOEeTLekgRWyscXsPjAw==,type:str]
    password: ENC[AES256_GCM,data:tJw+w41ti72Ekbc+3OFsiGPc7/rNP+eKWcoaCWIrj81YjA2hrGB82FzF26tkr0Rr6wIcyLBOikjpal+kO9z9Ug==,iv:+dNGM2EXkq4QhSCA7VOEleVkIfmdO6Ayc92WGVrXi6E=,tag:+BTI2oWU7Pk427yYAO4g0A==,type:str]
    region: ENC[AES256_GCM,data:LG3Szf7e,iv:BnZK8PeCx6xQt2ZY6ePVj9HuDBgwgojYUxLKrlVjvMs=,tag:cP/23s34aWeGPxBc1zUwXw==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBMSUVWQkMxOGxqV0lhUlJ3
            V2J4SzRNRmV3YWR6MUYrZ3NLUzNJZkJHOFEwCm1iZWlWKzV4cC9aZi85cXhrcDdX
            V3NtTUdiRjdqV2haK0UzRHpKTHBnaFkKLS0tIGE4TzBiNk1Bc3JUUm4vOTR1aXU2
            R216bWFqRlpXb1l0MEZCdUxIcTBWdUEKCZrsoxe+tc6sMsxoVVF3j8cmldGTu+PM
            qxYU0y7T1pcFhKv7K0cIZQC8EbVJLWhHMG3bkBNVsY8th939MUngdA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T11:54:47Z"
    mac: ENC[AES256_GCM,data:pdwDp9yeXiEgEHWl0hHA10f5GnfXKaJsMXWB4j+Ao1aLoSoo4jftcg2Y7zTk4L/KcRoipt8o6Rc+FxWD3pVQZBZTsSN0RQ61yBLdwKaMJ8m6ofCyGm0KsgpF4zmvvtEuRxoDs4MysQTeCOxf2kT8GIG3UFmO4m7h2+THiaiM0v8=,iv:7LKiVEapKiwC3fW0S3cbwMZ1ckCvkDkFK7r3tI3Wiu8=,tag:eYODF7xWlnEAx0sQlvyS/Q==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
