apiVersion: v1
kind: Secret
metadata:
    name: authentik-basic-auth
    namespace: authentik
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:0cQMsIOPBPjl,iv:JuB5HdZsOPWSwihsVqe4hSmwhYBozWbFaqTWaBA/pkk=,tag:M+ompYSSPeCJLretm/WK6Q==,type:str]
    password: ENC[AES256_GCM,data:VEjie+Ro5rMbKhWhJcpmIvDM+CuMigVEs7ykbPSlAi4=,iv:mkKwY29ftiD4L8E8oEOqkR4+1zUV13kTTPy0P9TcLJE=,tag:j79OQqAWgYOAaap7DN5/Hg==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3bVV6aWZWY1c5akwzb2hx
            blhaekRDbEJVNHZ0VE1HcGlPZzBweHpUZUVBCklQUnl0VXMzWC9CQUR2VE9SMnVW
            OGRTZE5hc1kvUnFQYjJOeG1qTFBoUm8KLS0tIEJmbDVTTWhxZFM3ZUJFc043WkR6
            Vzk0R3BKNDJRSGlCWG1pQ2ZsanhUcUkKqsBoOYFhY9UkqOXNERxYB5TX2d6+oSRA
            AJeuuxAgLOgEfPNZWZvia5TgXrJCRgF+PPdo4y9oJ380amub0PggQQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:12:52Z"
    mac: ENC[AES256_GCM,data:8YXGHbz6dxff8r9BSaX2XIwpw4jSDtgGg0kj8CDt//8KtBTATDj9wPd0LxYfu/z2rvT6HzosFLGEiUQu8wfJnsbWxyhPUEUzcY8Eh0WGswHNngHn98wnffmng6kB/qmpvLJRk1inV5BJotN2GLhUpvC9wr28V/5dGOfhnLyRgQk=,iv:lzLdOJ7IAT1rNpSMitCMJIfGD35jFu4i4a4X9LvBMT0=,tag:FHfGXx4ZYxazwvox7wsvVw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: authentik-postgres-v18
    namespace: authentik
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:qzELbojR8lvJWdI7hQJ+F9QNpdTlwXUrscE=,iv:5/9pUIYfkIeB4tHzXNGfkKVhTHes/AsWN5SZ1L/u+Os=,tag:xU8Epo5mwWYCSvKPrcn26g==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:mO25GO19mYVBYbvsz2thhYoRqOJgEctzr4c2w7Ihl+RrlyRRBBaavXRbaxca8LuG+H3P5Bv5XbwqcOXsjEKRWA==,iv:Hq2tP3n2EQr2i+FHKermNG5F2t+BitOQehsRX6J27ho=,tag:r5yvuReifuqCwgpKHp4EWA==,type:str]
    region: ENC[AES256_GCM,data:m12TFd9m,iv:0iSjfQFGU8lPlC3VGRnoyEBGiXUC4fXvbHiFnCnai9U=,tag:tfXG+b81PZdzIaj6NoDwyg==,type:str]
    password: ENC[AES256_GCM,data:6PSGV/FBWoKWkXpnrEMoXUuXCYopDAvZ/7+59ZW2GiL7c4+dJsUUvT+hmCdJwvsdnahXF3g9Oh1ZgAApTv7lKA==,iv:X16XJVIh2RPwxu7Eg4OGOTHml+Hbq/7HfzUtP0tyDhU=,tag:MZtWOBliFeNQ2yiUx/Blew==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3bVV6aWZWY1c5akwzb2hx
            blhaekRDbEJVNHZ0VE1HcGlPZzBweHpUZUVBCklQUnl0VXMzWC9CQUR2VE9SMnVW
            OGRTZE5hc1kvUnFQYjJOeG1qTFBoUm8KLS0tIEJmbDVTTWhxZFM3ZUJFc043WkR6
            Vzk0R3BKNDJRSGlCWG1pQ2ZsanhUcUkKqsBoOYFhY9UkqOXNERxYB5TX2d6+oSRA
            AJeuuxAgLOgEfPNZWZvia5TgXrJCRgF+PPdo4y9oJ380amub0PggQQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:12:52Z"
    mac: ENC[AES256_GCM,data:8YXGHbz6dxff8r9BSaX2XIwpw4jSDtgGg0kj8CDt//8KtBTATDj9wPd0LxYfu/z2rvT6HzosFLGEiUQu8wfJnsbWxyhPUEUzcY8Eh0WGswHNngHn98wnffmng6kB/qmpvLJRk1inV5BJotN2GLhUpvC9wr28V/5dGOfhnLyRgQk=,iv:lzLdOJ7IAT1rNpSMitCMJIfGD35jFu4i4a4X9LvBMT0=,tag:FHfGXx4ZYxazwvox7wsvVw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
