apiVersion: v1
kind: Secret
metadata:
    name: authentik-basic-auth
    namespace: authentik
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:v2F/xWbVxghy,iv:YkxExV6yCo3C5Gl3msRW2yp1iMqJfoLYjZIqONn1qbM=,tag:0nuryo0FRVq7skuKhCx6IQ==,type:str]
    password: ENC[AES256_GCM,data:kAIOKWBenVcGduRQFY9N8qMT9oNh0slLMmXNrLKV9Jg=,iv:A6HyrqkkaakhtTOyHnSUZURvuXFTcIcyZVA68QP9Bgg=,tag:tTCLxPIDYeX3rNfGY+ZM0w==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvQXdWcGRXdUtKalVvWWZ1
            dU9zMS9FUGtqVnFwQ09HbnJKa1ptbVhUb2k4CmJlS09HOFEyQkd2dm1ZMzVWaWJo
            UUpSQlBMQ0VPbno1ejRjTnNJcFBhVjgKLS0tICtqdVo5cDdiWU1lTE9qc1pDMDBw
            TGVKdm9qaWRvMnBuNlk0czRXQnZmVGMKd20daczALR0lzwi+7VysbPDR4H8SvKCw
            pui4QsrnaweRV4YjQp00eHs+lEJfzoRK0+hOuoTTNwOSWjle1MgA1Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-06T23:43:50Z"
    mac: ENC[AES256_GCM,data:uB3gF/Ddd4WK1W/FRq0KsxXiUMEEX7hE3J2CQX+j+j5pE2p7gV2QLyovwsB101rL82toYoxvQreDQaInWFdnU8Z8wlpG4fAbZIVJjMzAw55A5lovup4dKjuho9XuVAAc/a+byuwLFVYU4z4y/y55Y9fITgOfT0NR3psncHyeCDc=,iv:KIDs9PMLyVgvjdJJPt9S9088gRC294LDH/D9xPbiQL4=,tag:5TDNOqyvcenm5aNipIEeiQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: authentik-postgres-v18
    namespace: authentik
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:NNF7a2H3buyLs2Fe6aBKpkqZusDsuUR8zYw=,iv:L55/+9yY6L/lNMRfkAxhMmNclcKmmGSCpr8PUs0Opj4=,tag:WJXUyRsAbprsqfRbgFrVjw==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:RT53FJbH1hrkB+MvVnYi5pad0iNeG8hINu2THm90uh0O2Hxo2p2jei+/Bxz15Dmegyagb2J9sZpsvozj+Uc4+A==,iv:bFL2ihy9XrfwV+Dimpm+dscfAkwbTzXE+eM3tcQMyc0=,tag:HWyWoGqxhM25PeHfswQ6jA==,type:str]
    password: ENC[AES256_GCM,data:oFuioqCI7Drs7QwHO5h3OH/CK/pL4e9Ygjz0RDAWeknW+XSa6X+nWRRvoP+4/vIR3obCOwm+R46MM3pvQ2/OGA==,iv:UofgqGFj+Tb1UVvA3c5qMLi66d7HN5A7tV08kjj76l0=,tag:e9f4yEljEwl6tYA+acdcjg==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvQXdWcGRXdUtKalVvWWZ1
            dU9zMS9FUGtqVnFwQ09HbnJKa1ptbVhUb2k4CmJlS09HOFEyQkd2dm1ZMzVWaWJo
            UUpSQlBMQ0VPbno1ejRjTnNJcFBhVjgKLS0tICtqdVo5cDdiWU1lTE9qc1pDMDBw
            TGVKdm9qaWRvMnBuNlk0czRXQnZmVGMKd20daczALR0lzwi+7VysbPDR4H8SvKCw
            pui4QsrnaweRV4YjQp00eHs+lEJfzoRK0+hOuoTTNwOSWjle1MgA1Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-06T23:43:50Z"
    mac: ENC[AES256_GCM,data:uB3gF/Ddd4WK1W/FRq0KsxXiUMEEX7hE3J2CQX+j+j5pE2p7gV2QLyovwsB101rL82toYoxvQreDQaInWFdnU8Z8wlpG4fAbZIVJjMzAw55A5lovup4dKjuho9XuVAAc/a+byuwLFVYU4z4y/y55Y9fITgOfT0NR3psncHyeCDc=,iv:KIDs9PMLyVgvjdJJPt9S9088gRC294LDH/D9xPbiQL4=,tag:5TDNOqyvcenm5aNipIEeiQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
