---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name authentik
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.10.3
      sourceRef:
        kind: HelmRepository
        name: authentik-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: authentik
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
      # I need to adjust these values after tampering
  valuesFrom:
    - targetPath: authentik.postgresql.password
      kind: Secret
      name: authentik-config
      valuesKey: postgresql_password
    - targetPath: authentik.secret_key
      kind: Secret
      name: authentik-config
      valuesKey: secret_key
  values:
    fullnameOverride: *name
    global:
      fullnameOverride: *name
      addPrometheusAnnotations: "${MONITORING_PROMETHEUS}"
    authentik:
      email:
        host: exim.mailrelay.svc.cluster.local
        port: 25
        from: "Authentik <authentik@${SECRET_DEFAULT_DOMAIN}>"
      postgresql:
        host: authentik-postgres-v18-rw.authentik.svc.cluster.local
      redis:
        host: "valkey-primary.authentik.svc.cluster.local"
    prometheus:
      rules:
        enabled: "${MONITORING_PROMETHEUS}"
    server:
      metrics:
        serviceMonitor:
          enabled: "${MONITORING_PROMETHEUS}"
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      ingress:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - "authentik.${SECRET_DEFAULT_DOMAIN}"
    redis:
      enabled: false
    worker:
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault