---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: spegel-charts
  namespace: flux-system
spec:
  type: oci
  interval: 2h
  url: oci://ghcr.io/spegel-org/helm-charts
  timeout: 3m