---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name scraparr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      scraparr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          scraparr:
            image:
              repository: ghcr.io/thecfu/scraparr
              tag: 2.2.5@sha256:cfe07f005aa6e93221dd0bb540600aaa51ea1215968595806863f9df3dc3b26c
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 400Mi
    service:
      scraparr:
        controller: *name
        ports:
          http:
            port: &port 7100
    serviceMonitor:
      scraparr:
        serviceName: scraparr
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    persistence:
      config:
        type: configMap
        name: scraparr-configmap
        globalMounts:
          - path: /scraparr/config/config.yaml
            subPath: config.yaml
            readOnly: true
    networkpolicies:
      scraparr:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: bazarr
                      app.kubernetes.io/instance: media-bazarr
                      app.kubernetes.io/name: media-lidarr
              ports:
                - port: 6767
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyseerr
                      app.kubernetes.io/instance: media-jellyseerr
                      app.kubernetes.io/name: media-jellyseerr
              ports:
                - port: 5055
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyfin
                      app.kubernetes.io/instance: media-jellyfin
                      app.kubernetes.io/name: media-jellyfin
              ports:
                - port: 8096
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
              ports:
                - port: 8686
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: prowlarr
                      app.kubernetes.io/instance: media-prowlarr
                      app.kubernetes.io/name: media-prowlarr
              ports:
                - port: 9696
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
              ports:
                - port: 7878
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: readarr
                      app.kubernetes.io/instance: media-readarr
                      app.kubernetes.io/name: media-readarr
              ports:
                - port: 8787
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: speakarr
                      app.kubernetes.io/instance: media-speakarr
                      app.kubernetes.io/name: media-speakarr
              ports:
                - port: 8787
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
              ports:
                - port: 8989
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: monitoring
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: prometheus
              ports:
                - port: *port