---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name jellystat
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: jellystat-postgres-v18
      namespace: flux-system
  valuesFrom:
    - targetPath: controllers.jellystat.containers.jellystat.env.POSTGRES_PASSWORD
      kind: Secret
      name: jellystat-config
      valuesKey: POSTGRES_PASSWORD
    - targetPath: controllers.jellystat.containers.jellystat.env.JWT_SECRET
      kind: Secret
      name: jellystat-config
      valuesKey: JWT_SECRET
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      jellystat:
        containers:
          jellystat:
            image:
              repository: ghcr.io/cyfershepard/jellystat
              tag: 1.1.7@sha256:e182aedd122e13be511c59f0462e0d9e48a67c7341a5f3c1f11b7aa6ab6d2291
            env:
              POSTGRES_USER: jellystat
              POSTGRES_IP: jellystat-postgres-v18-rw.media.svc.cluster.local
              POSTGRES_PORT: "5432"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # Error writing env.js file: [Error: EROFS: read-only file system, open '/app/dist/env.js'] {
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 300Mi
              limits:
                memory: 700Mi
    service:
      jellystat:
        controller: *name
        ports:
          http:
            port: &port 3000
    ingress:
      jellystat:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "jellystat.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: jellystat
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: jellystat
    networkpolicies:
      jellystat:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: jellystat-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyfin
                      app.kubernetes.io/instance: media-jellyfin
                      app.kubernetes.io/name: media-jellyfin
              ports:
                - port: 8096
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port