---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minecraft-bedrock
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: minecraft-bedrock
      version: 2.8.4
      sourceRef:
        kind: HelmRepository
        name: itzg-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: minecraft
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    image:
      repository: itzg/minecraft-bedrock-server
      tag: 2025.12.0
    minecraftServer:
      eula: true
      version: "LATEST"
      gamemode: "creative"
      playerIdleTimeout: 10
      cheats: true
      emitServerTelemetry: true
      difficulty: "easy"
      maxPlayers: 5
      levelSeed: 421112feedmekittens
      onlineMode: false
      serverName: "BEDR0CK"
      enableLanVisibility: true
      serviceType: LoadBalancer
      #externalTrafficPolicy: Local
      loadBalancerIP: 10.0.1.40
    livenessProbe:
      initialDelaySeconds: 150
    readinessProbe:
      initialDelaySeconds: 150
    persistence:
      dataDir:
        enabled: true
        existingClaim: bedrock