---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name exim
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: mailrelay
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.exim.containers.exim.env.SMARTHOST
      kind: Secret
      name: mail-smarthost
      valuesKey: smarthost
    - targetPath: controllers.exim.containers.exim.env.SMTP_USERNAME
      kind: Secret
      name: mail-smarthost
      valuesKey: username
    - targetPath: controllers.exim.containers.exim.env.SMTP_PASSWORD
      kind: Secret
      name: mail-smarthost
      valuesKey: password
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 100
        runAsGroup: 101
        fsGroup: 100
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      exim:
        type: daemonset
        containers:
          exim:
            image:
              repository: docker.io/devture/exim-relay
              tag: 4.98-r0-4@sha256:7ba30080c7a6ac4e93a99143ebd1aa229a16c47b97b2129002dc753c8a47f095
            env:
              HOSTNAME: "smtp.${SECRET_DEFAULT_DOMAIN}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      exim:
        controller: *name
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: 10.0.1.35
        ports:
          mail:
            primary: true
            port: 25
            targetPort: 8025
            protocol: TCP
    persistence:
      spool:
        type: emptyDir
        globalMounts:
          - path: /var/spool/exim