---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name media-postgres-v17
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: &namespace media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: cloudnative-pg
      namespace: flux-system
  values:
    resources:
      - apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        metadata:
          name: *name
          namespace: *namespace
        spec:
          # using only 1 replica: very difficult to drain the node where postgres is running
          # using more than 1 replica: write amplification issues when leveraging replicated storage (e.g. ceph)
          instances: 2
          imageName: ghcr.io/cloudnative-pg/postgresql:17.7
          primaryUpdateStrategy: unsupervised
          storage:
            size: 20Gi
            storageClass: "${STORAGE_READWRITEONCE}"
          managed:
            roles:
              - name: jellystat
                login: true
                passwordSecret:
                  name: jellystat-basic-auth
              - name: lidarr
                login: true
                passwordSecret:
                  name: lidarr-basic-auth
              - name: prowlarr
                login: true
                passwordSecret:
                  name: prowlarr-basic-auth
              - name: sonarr
                login: true
                passwordSecret:
                  name: sonarr-basic-auth
              - name: radarr
                login: true
                passwordSecret:
                  name: radarr-basic-auth
          superuserSecret:
            name: *name
          bootstrap:
            # use this to start a new cluster
            #initdb:
            #  database: media
            #  owner: media
            #  secret:
            #    name: media-basic-auth
            # use this to recover a net-new cluster from a backup
            #recovery:
              #source: *name
              #database: media
              #owner: media
            # # use this to 'migrate' from an existing cnpg cluster (e.g. "media-postgres-v16") to the new cluster
            initdb:
              database: media
              owner: media
              import:
                type: monolith
                databases:
                  - jfstat
                  - prowlarr_main
                  - sonarr_main
                roles:
                  - jellystat
                  - prowlarr
                  - sonarr
                source:
                  externalCluster: old-pg-cluster
          monitoring:
            enablePodMonitor: "${MONITORING_PROMETHEUS}"
          resources:
            requests:
              cpu: "400m"
              memory: "512Mi"
            limits:
              memory: "1Gi"
          backup:
            retentionPolicy: 7d
            barmanObjectStore:
              wal:
                compression: bzip2
                maxParallel: 4
              destinationPath: s3://postgresql-${CLUSTER_NAME}
              endpointURL: "${SECRET_S3_URL}"
              serverName: *name
              s3Credentials:
                accessKeyId:
                  name: *name
                  key: s3-access-key
                secretAccessKey:
                  name: *name
                  key: s3-secret-key
          externalClusters:
            # this represents the s3 backup to restore from. Must be same version.
            - name: *name
              barmanObjectStore:
                wal:
                  compression: bzip2
                  maxParallel: 8
                destinationPath: s3://postgresql-${CLUSTER_NAME}
                serverName: *name
                endpointURL: "${SECRET_S3_URL}"
                s3Credentials:
                  accessKeyId:
                    name: *name
                    key: s3-access-key
                  secretAccessKey:
                    name: *name
                    key: s3-secret-key
            - name: old-pg-cluster
              connectionParameters:
                host: postgres-v16-ro.cloudnative-pg.svc.cluster.local
                user: postgres
                dbname: postgres
                sslmode: prefer
              password:
                name: media-postgres-v17
                key: old_password
            # # this represents an existing cnpg cluster to migrate from (e.g. upgrading from postgres v16 to postgres v17)
             #- name: media-postgres-v16
             #  connectionParameters:
             #    host: media-postgres-v16
             #    user: postgres
             #    dbname: postgres
             #    sslmode: require
             #  password:
             #    name: media-postgres-v16
             #    key: password
      - apiVersion: postgresql.cnpg.io/v1
        kind: ScheduledBackup
        metadata:
          name: *name
          namespace: *namespace
        spec:
          schedule: "0 37 01 * * *"
          immediate: true
          backupOwnerReference: self
          cluster:
            name: *name
