---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name gogrepoc
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.gogrepoc.containers.gogrepoc.env.goguser
      kind: Secret
      name: gogrepoc-config
      valuesKey: goguser
    - targetPath: controllers.gogrepoc.containers.gogrepoc.env.gogpassword
      kind: Secret
      name: gogrepoc-config
      valuesKey: gogpassword
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      gogrepoc:
        containers:
          gogrepoc:
            image:
              repository: docker.io/leberschnitzel/gogrepocdock
              tag: 5.1@sha256:73bec5caed6b9165395c19d8e90f023ef4e9d5862e6a19eaad3eb16f099be6ae
            env:
              updatecommands: "-os windows linux -lang en"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
    persistence:
      data:
        enabled: true
        existingClaim: media
        advancedMounts:
          gogrepoc:
            gogrepoc:
              - path: /gogrepocdock/downloads
                subPath: games/video/gog