---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name firefox
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: firefox
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # [cont-init   ] 10-init-users.sh: rm: can't remove '/etc/passwd': Permission denied
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    controllers:
      firefox:
        containers:
          firefox:
            image:
              repository: ghcr.io/jlesage/firefox
              tag: v26.01.1@sha256:91771ddfe53b9dfadc5439213c968edacc7fadbf4f3c9de2618487d2d07843bb
            env:
              TZ: "${TIMEZONE}"
              USER_ID: 1000
              GROUP_ID: 1000
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # If with ROFS: 05-container-instance-uuid.sh: mkdir: can't create directory '/.docker-instance': Read-only file system
              # If with emptyDir: mkdir: can't create directory '/.docker-instance': File exists
              readOnlyRootFilesystem: false
              # 05-container-instance-uuid.sh: /etc/cont-init.d/05-container-instance-uuid.sh: line 15: can't create /.docker-instance/uuid: Permission denied
              #capabilities:
              #  add:
              #    - CHOWN
              #  drop:
              #    - ALL
            resources:
              requests:
                cpu: 200m
                memory: 5Gi
              limits:
                memory: 10Gi
    service:
      firefox:
        controller: *name
        ports:
          http:
            port: &port 5800
    ingress:
      firefox:
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "firefox.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: firefox
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: firefox
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      vartmp:
        type: emptyDir
        globalMounts:
          - path: /var/tmp
    networkpolicies:
      firefox:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port