---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name firefox
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: firefox
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # [cont-init   ] 10-init-users.sh: rm: can't remove '/etc/passwd': Permission denied
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    controllers:
      firefox:
        containers:
          firefox:
            image:
              repository: ghcr.io/jlesage/firefox
              tag: v25.09.1@sha256:eddd62209e03b020274425468bb841548e6a96c3941c8f8842e4edc521dea38c
            env:
              TZ: "${TIMEZONE}"
              USER_ID: 1000
              GROUP_ID: 1000
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - CHOWN
                drop:
                  - ALL
            resources:
              requests:
                cpu: 200m
                memory: 5Gi
              limits:
                memory: 10Gi
    service:
      firefox:
        controller: *name
        ports:
          http:
            port: 5800
    ingress:
      firefox:
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "firefox.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: firefox
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: firefox
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp