---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name jupyterhub
  namespace: flux-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: jupyterhub
      version: 4.1.0
      sourceRef:
        kind: HelmRepository
        name: jupyterhub-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: jupyterhub
  install:
    createNamespace: true
    remediation:
      retries: 10
    timeout: 20m
  upgrade:
    remediation:
      retries: 10
  values:
    debug:
      enabled: true
    hub:
      config:
        KubeSpawner:
          container_security_context: {}
            #runAsNonRoot: true
            #capabilities:
              #drop: ["ALL"]
            #seccompProfile:
              #type: RuntimeDefault
          services_enabled: true
          #uid: 1000
      networkPolicy:
        egress:
          - ports:
              - port: 6443
    ingress:
      enabled: true
      annotations:
        haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
        haproxy.org/ssl-redirect-port: "443"
        haproxy.org/response-set-header: |
          Strict-Transport-Security "max-age=31536000"
          X-Frame-Options "SAMEORIGIN"
          X-Content-Type-Options "nosniff"
          Referrer-Policy "no-referrer-when-downgrade"
      hosts:
        - &host "jupyterhub.${SECRET_DEFAULT_DOMAIN}"
      tls:
        - hosts:
            - *host
    prePuller:
      continuous:
        enabled: false
    proxy:
      service:
        type: ClusterIP
    singleuser:
      cloudMetadata:
         # block set to true will append a privileged initContainer using the
        # iptables to block the sensitive metadata server at the provided ip.
        blockWithIptables: false
      profileList:
        - display_name: kubeflow
          description: kubeflow
          kubespawner_override:
            image: ghcr.io/kubeflow/kubeflow/notebook-servers/codeserver:v1.10.0
        - display_name: code-server
          description: coder
          kubespawner_override:
            image: ghcr.io/coder/code-server:4.98.2