---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name romm
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: romm
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          romm:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.4.1@sha256:b909e95d1aab88db9817be700183fda8d24094b3e7c28355ddbd066e2659fc8f
            envFrom:
              - secretRef:
                  name: romm-secrets
            env:
              DB_HOST: "romm-postgres-v17-rw.romm.svc.cluster.local"
              DB_NAME: "romm"
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: romm-basic-auth
                    key: username
              DB_PASSWD:
                valueFrom:
                  secretKeyRef:
                    name: romm-basic-auth
                    key: password
              DB_PORT: "5432"
              ENABLE_SCHEDULED_UPDATE_LAUNCHBOX_METADATA: "true"
              LAUNCHBOX_API_ENABLED: "true"
              HASHEOUS_API_ENABLED: "true"
              PLAYMATCH_API_ENABLED: "true"
              ROMM_DB_DRIVER: "postgresql"
              REDIS_HOST: "romm-valkey.romm.svc.cluster.local"
              REDIS_PORT: "6379"
              HLTB_API_ENABLED: "true"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - CHOWN
                  - SETGID
                drop:
                  - ALL
            resources:
              requests:
                memory: 512M
                cpu: 10m
              limits:
                memory: 1024M
    service:
      romm:
        controller: *name
        ports:
          http:
            port: 8080
    ingress:
      romm:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "romm.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: romm
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      romm:
        enabled: true
        existingClaim: romm
      # OSError: [Errno 30] Read-only file system: '/tmp/tmpzxo8orzh'
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      # /docker-entrypoint.d/20-envsubst-on-templates.sh: line 53: can't create /etc/nginx/conf.d/default.conf: Read-only file system
      nginx:
        type: emptyDir
        globalMounts:
          - path: /etc/nginx/conf.d/
