---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name invidious
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: invidious
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      invidious:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          invidious:
            envFrom:
              - secretRef:
                  name: invidious-config
            image:
              repository: quay.io/invidious/invidious
              tag: 2.20250913.0
            env:
              TZ: "${TIMEZONE}"
              INVIDIOUS_PORT: "3000" # https://github.com/iv-org/invidious/issues/2970
              INVIDIOUS_REGISTRATION_ENABLED: false
              INVIDIOUS_POPULAR_ENABLED: false
              INVIDIOUS_QUALITY: dash
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 600Mi
      companion:
        strategy: RollingUpdate
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          companion:
            envFrom:
              - secretRef:
                  name: invidious-config
            image:
              repository: quay.io/invidious/invidious-companion
              tag: latest@sha256:6ddb7f584260733bb0d3d8455d0649c24cb57ec7dc2993a9f587f60438c83026
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 1Gi
    service:
      invidious:
        controller: *name
        ports:
          http:
            port: &port 3000
      companion:
        controller: companion
        ports:
          http:
            port: &companionport 8282
    ingress:
      invidious:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "y.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: invidious
                  port: http
        tls:
          - hosts:
              - *host
    networkpolicies:
      invidious:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Needs to connect to youtube
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: companion
                      app.kubernetes.io/instance: invidious-invidious
                      app.kubernetes.io/name: invidious-invidious
              ports:
                - port: *companionport
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: invidious-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port
      companion:
        enabled: true
        controller: companion
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Needs to connect to youtube
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
          ingress:
            - from:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: invidious
                      app.kubernetes.io/instance: invidious-invidious
                      app.kubernetes.io/name: invidious-invidious
              ports:
                - port: *companionport