---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name inv-sig-helper
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: invidious
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      inv-sig-helper:
        replicas: 1
        containers:
          inv-sig-helper:
            image:
              repository: quay.io/invidious/inv-sig-helper
              tag: latest@sha256:ba3a05ccc15359bcba7eab5b61143505da2739f9220ed5b5a73d74e615f17e42
            env:
              RUST_LOG: info
            args:
              - --tcp
              - "0.0.0.0:12999"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      inv-sig-helper:
        controller: *name
        ports:
          http:
            port: 12999