---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny
  namespace: system-upgrade-controller
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: system-upgrade-controller
  namespace: system-upgrade-controller
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: system-upgrade-controller-system-upgrade-controller
  egress:
    - toEntities:
      - kube-apiserver