---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name plan-k8s-upgrade
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: system-upgrade-controller
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: system-upgrade-controller
      namespace: flux-system
  values:
    resources:
      - apiVersion: upgrade.cattle.io/v1
        kind: Plan
        metadata:
          name: kubernetes
          namespace: system-upgrade-controller
        spec:
          # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
          version: v1.34.3
          window:
            startTime: "06:00"
            endTime: "06:59"
            timeZone: "${TIMEZONE}"
          concurrency: 1
          postCompleteDelay: 5m
          exclusive: true
          nodeSelector:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
          tolerations:
            - {key: node-role.kubernetes.io/control-plane, effect: NoSchedule, operator: Exists}
          secrets:
            - name: system-upgrade-controller
              path: /var/run/secrets/talos.dev
              ignoreUpdates: true
          serviceAccountName: system-upgrade-controller
          upgrade:
            # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
            image: ghcr.io/siderolabs/talosctl:v1.12.0
            args:
              - --nodes=$(SYSTEM_UPGRADE_NODE_NAME)
              - upgrade-k8s
              - --to=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)