apiVersion: v1
kind: Secret
metadata:
    name: dawarich-basic-auth
    namespace: dawarich
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:3BMCQrOj+uk=,iv:e9kzpfRLq/SFODj6ZRMCgtLYGw0YaIDmfnYBerMwFGc=,tag:3V4rC/LdMLaB/Mhsbnc81w==,type:str]
    password: ENC[AES256_GCM,data:EexFIVqwL2Ec3pFA5XYYIOTHhNetThaa3ZxIsdbiTIBYo9gWpA8YJEJqNQY+HmSIBTWcSGcDaTZTKceNmXuq5Q==,iv:ML4Fl+uO7IKBYnsAHYRigiD/zz66Gk21voQDR479gb4=,tag:RKzSPy5G7BDorm/3PyphtA==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPZ1hoK3BqbVNFR1dYSzNq
            aVVrajYzRTVwSXNNTmkwR216VTZJUENaMDNNCk9MOUZDZStteEtvZU5FYkJPa2pl
            YjhaYjhtVUtGSkZsSDNXV1o2Rzk5ajQKLS0tIDVDcW54R0lYK2t4b2syR0dDMXQ5
            TGp1Vk5Ea3VqWlFMY1A0bCsrUUN5UzAKCxnlXvUDg6P+lavK2/Xzzm3jOCXCIqez
            tc3l8xR9N3MTvhpfIYsfPg7DGsgMBhb4J2CvCBlwHjajFOgVNEdjRA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-15T20:58:32Z"
    mac: ENC[AES256_GCM,data:AXawxPF/pPX+RZTb6Dl96U5J+orbeyPeh3JWtDnelWeoEOX+YH1aFsP7gWugbpHzsY6AXZ3d5S5xX66kwXg6TVdrIPXY0X0kKXzRUgdkRATBQa9ix/IGh1Igc37ksmf4UM3VQtE6KFMhterdgQt7aiwpHrPterEwhN9GfP4MgYs=,iv:fzu5i77w+dcTIIVPdEb94R/dMz7Za+SbVUGJMnfFgDk=,tag:0n1YOK2s2vFhIidkGte7kg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: dawarich-postgres-v18
    namespace: dawarich
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:fokIBvdWq9TFPGHXldcWoQM5k6Y=,iv:UxvSggndbKrEA0GhGhI/NyVWJV4be9NnuCiZft2uYC4=,tag:SrccH1WMHCemIboy5Q218g==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:UIoML+a3btO9DVHnDTIi32Z/qMx6DFxjV+mi6uSfUhn+HCveceoZHQ==,iv:2/ZMwkQB7bHga2b5SdLCd8nnUUqKgzSGmeI1yMn1IsM=,tag:yqmQeC0hF/DhFWLC/a0P9A==,type:str]
    password: ENC[AES256_GCM,data:zXWwyvMU5n5pWulDwowl0iok/pPRrKp1bxWjbAxj9+ppL/4e6zzIPUiVBwsjkOAjNyIrrakiNdptUMPoax/mcg==,iv:oPQDHWMcTodeFPxi1x0zXcb6laWpBzXz7/3E+Ublr+8=,tag:kusO/JTZM+Sn59T3vU9gfg==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPZ1hoK3BqbVNFR1dYSzNq
            aVVrajYzRTVwSXNNTmkwR216VTZJUENaMDNNCk9MOUZDZStteEtvZU5FYkJPa2pl
            YjhaYjhtVUtGSkZsSDNXV1o2Rzk5ajQKLS0tIDVDcW54R0lYK2t4b2syR0dDMXQ5
            TGp1Vk5Ea3VqWlFMY1A0bCsrUUN5UzAKCxnlXvUDg6P+lavK2/Xzzm3jOCXCIqez
            tc3l8xR9N3MTvhpfIYsfPg7DGsgMBhb4J2CvCBlwHjajFOgVNEdjRA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-15T20:58:32Z"
    mac: ENC[AES256_GCM,data:AXawxPF/pPX+RZTb6Dl96U5J+orbeyPeh3JWtDnelWeoEOX+YH1aFsP7gWugbpHzsY6AXZ3d5S5xX66kwXg6TVdrIPXY0X0kKXzRUgdkRATBQa9ix/IGh1Igc37ksmf4UM3VQtE6KFMhterdgQt7aiwpHrPterEwhN9GfP4MgYs=,iv:fzu5i77w+dcTIIVPdEb94R/dMz7Za+SbVUGJMnfFgDk=,tag:0n1YOK2s2vFhIidkGte7kg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
