---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name dawarich
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: dawarich
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      dawarich:
        containers:
          app:
            image:
              repository: docker.io/freikin/dawarich
              tag: 1.1.0@sha256:31aad0680a0da32d60970f0781bdde793b8ba9fc75a744171427767ea0ad358b
            command: "web-entrypoint.sh"
            args: "bin/rails server -p 3000 -b ::"
            env:
              TIME_ZONE: "${TIMEZONE}"
              REDIS_URL: redis://dawarich-valkey.dawarich.svc.cluster.local:6379
              DATABASE_HOST: "dawarich-postgres-v18-rw.dawarich.svc.cluster.local"
              DATABASE_PORT: 5432
              DATABASE_NAME: dawarich
              DATABASE_USERNAME: dawarich
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: dawarich-basic-auth
                    key: password
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 1Gi
          sidekiq:
            image:
              repository: docker.io/freikin/dawarich
              tag: 1.1.0@sha256:31aad0680a0da32d60970f0781bdde793b8ba9fc75a744171427767ea0ad358b
            command: "sidekiq-entrypoint.sh"
            args: "bundle exec sidekiq"
            env:
              TIME_ZONE: "${TIMEZONE}"
              REDIS_URL: redis://dawarich-valkey.dawarich.svc.cluster.local:6379
              DATABASE_HOST: "dawarich-postgres-v18-rw.dawarich.svc.cluster.local"
              DATABASE_PORT: 5432
              DATABASE_NAME: dawarich
              DATABASE_USERNAME: dawarich
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: dawarich-basic-auth
                    key: password
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 1Gi
    service:
      dawarich:
        controller: *name
        ports:
          http:
            port: &port 3000
    ingress:
      dawarich:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "dawarich.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: dawarich
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: dawarich
        globalMounts:
          - path: /var/app/public
            subPath: public
          - path: /var/app/storage
            subPath: storage
          - path: /var/app/tmp/imports/watched
            subPath: watched
    networkpolicies:
      dawarich:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: dawarich-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/name: dawarich-dawarich-valkey
              ports:
                - port: 6379
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port