---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name node-problem-detector
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: node-problem-detector
      version: 2.3.22
      sourceRef:
        kind: HelmRepository
        name: deliveryhero-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: node-problem-detector
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    metrics:
      enabled: "{$MONITORING_PROMETHEUS}"
      serviceMonitor:
        enabled: "{$MONITORING_PROMETHEUS}"
      prometheusRule:
        enabled: "{$MONITORING_PROMETHEUS}"
