---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name node-problem-detector
  namespace: flux-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: node-problem-detector
  targetNamespace: node-problem-detector
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
    crds: CreateReplace
  values:
    fullnameOverride: *name
    metrics:
      enabled: "{$MONITORING_PROMETHEUS}"
      serviceMonitor:
        enabled: "{$MONITORING_PROMETHEUS}"
      prometheusRule:
        enabled: "{$MONITORING_PROMETHEUS}"
