apiVersion: v1
kind: Secret
metadata:
    name: paperless-ngx-basic-auth
    namespace: paperless-ngx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:Wqlp3hdxpFtmyhiKcw==,iv:xhTF+Qy8XVU6xQGEu0oft6ho89jjifbKn8uXGzgrlXE=,tag:NkHT1ITb9SJHP8L/l8vXBA==,type:str]
    password: ENC[AES256_GCM,data:l0lWsUr7fwycpGxNaH82rpQLAtawTbVThTw2b+3DylHZiJedfCV+C4IuAuteLA2DQH5c6DpB4QlkQmfGtqymrQ==,iv:xv0qVy/PQ0XVioKZqvndEhmG6DGRDNyKQ8iC2m1JuHM=,tag:S7P01alominYUhsgykWhRg==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSByaWo0UXhwbE1FdlZpb0M1
            N3ZvTlFpRnZqTkREcnBCWXJQclpqU3dIdDNJClg4aUFWcXdiTUxLYVRvZitBdVFz
            Vm1Ha0hQejhzV1JMNjBGYzlCb1pXakUKLS0tIFZ4Y0tRQUE3TzEyTEhIbWZUQ0R5
            WDVIWmxwNkxpbURHNEZEMkVhSmVDWlUKz7yQbpsTiLkCgo4RoxixoJjwwEZbOGU8
            CPfAB+LNQ4vueakEO8A5zhdDxpAs6JkKufuGgYUe/j4dux7YTqMvpg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T22:49:16Z"
    mac: ENC[AES256_GCM,data:RplUZy7Q32TVss97xHPHDdsYxcI/mRe/i5fFh80+7qgNAavh8lA6Rn+085FKoWHmuq/cx/qwUGqKrYQaUpCuE+TIyhzNzMWg9Sdd6PRpIlB9zFuo3WNn5BYOLKyHxdIV8IITFDlXUXfOV7pkpfTYq3ZMyPtpu/HnjhSDoUOEd3E=,iv:WfKNf7bOly99Fm+O1bUskqvTMzglrqhy5grN/2muoNw=,tag:9iXi3qBQrAcrc4q9XiRktA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-ngx-postgres-v18
    namespace: paperless-ngx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:thgyGJT02LJGMyfBhdz6E5w+Log=,iv:96CV6UlPJ4NNeGA2KqZ8InCtKzbeC7oYL/BlamRzewY=,tag:Ww7i7lkB7yglBUUXMAdFlQ==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:9PNek57ShSK7lhGZM/Te4YBwH1EC/YvKeKsJ7+Ib5muXoyZl1a8DzA==,iv:hC0BlHQI79Lv8v2YFPP16BQ1qFzNmI3LLxJmsukwb8s=,tag:UBALpjsFVmTEQ0jWodQohg==,type:str]
    password: ENC[AES256_GCM,data:YJBAjM+nosm4yPBHb3Snw1l0Jd+5zG6g0ktxWvZiOpFT3UEbkavUL0iV2Xd8g2uy5Xr505TgpXQRmMiMcu5aTA==,iv:iMEe3vQjoiWs8JX/+cdKHBVuEfVUWHgrO26XBb12dTc=,tag:8+4IIyeWcaqTz1SA6cHojA==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSByaWo0UXhwbE1FdlZpb0M1
            N3ZvTlFpRnZqTkREcnBCWXJQclpqU3dIdDNJClg4aUFWcXdiTUxLYVRvZitBdVFz
            Vm1Ha0hQejhzV1JMNjBGYzlCb1pXakUKLS0tIFZ4Y0tRQUE3TzEyTEhIbWZUQ0R5
            WDVIWmxwNkxpbURHNEZEMkVhSmVDWlUKz7yQbpsTiLkCgo4RoxixoJjwwEZbOGU8
            CPfAB+LNQ4vueakEO8A5zhdDxpAs6JkKufuGgYUe/j4dux7YTqMvpg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T22:49:16Z"
    mac: ENC[AES256_GCM,data:RplUZy7Q32TVss97xHPHDdsYxcI/mRe/i5fFh80+7qgNAavh8lA6Rn+085FKoWHmuq/cx/qwUGqKrYQaUpCuE+TIyhzNzMWg9Sdd6PRpIlB9zFuo3WNn5BYOLKyHxdIV8IITFDlXUXfOV7pkpfTYq3ZMyPtpu/HnjhSDoUOEd3E=,iv:WfKNf7bOly99Fm+O1bUskqvTMzglrqhy5grN/2muoNw=,tag:9iXi3qBQrAcrc4q9XiRktA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
