apiVersion: v1
kind: Secret
metadata:
    name: paperless-ngx-basic-auth
    namespace: paperless-ngx
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:MME4C4owVJnL8UIDCQ==,iv:Lm0YlIrTvQ7wXnSGb+Z7zP8yPvjIyewV5u8Kz9G6gqY=,tag:le+isiGeRmlpwmL/341Qnw==,type:str]
    password: ENC[AES256_GCM,data:KcbsdgYtbUpNTBngmVQq9l5LaEvIY/oRqm9nEXpwLsHtCZ3+hFrhiXBk3+TG5jrKu2h6KW0K93ZQEUlmcL8E8A==,iv:OV5TN+inHUEhzS9kmr7wB0Yg8K2RSid2UUcFYbjG5Og=,tag:vTsTPMMEOqvMCujJF2Jd3A==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUUnREd2g4bnNqT0xvOS9K
            bE84L29qckRZWHp5a1Noeko1bTlpVEc5cVRnCmo2bmhWUEZjcmo0L1FKU3gxdWd0
            N3BXUDlwT01FRk9zNDJhUFMrNEoxWGcKLS0tIG8xRitpTEEwd0hJV0ZXOWlYMmRU
            SkY3SGZmdm5QSm0wUTJibEFxV2dBa3MKHf3nGy6agi7pvI+OtxvxPcUur1WqF9eO
            vBceqAlUpu67RdKwbDjDsjy9h8rZ4D+ppIg2UPuLgsUXx9iMl2TU6w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:12:57Z"
    mac: ENC[AES256_GCM,data:qhB/bHCY8CwmC1Y40fFpOQt8pNveXu6geP0k8OEmzRi6xugeQnu+5Nbz3V0C5UXfk4we2PF3z/lHC4Do1ANonaZgHO0kjCvllYnwbfDuK+LfGZDRXVpRwXePJrL5x02lEuVVUrQIELf9kBV8U//JWqHBWT869xlWnInZKmfVyIc=,iv:7z1cpqWsPQ6GRd3d+iPP/u5tHXJE1IwqKNj6B+VtPv0=,tag:2ZEvkU2AJH/Kk4Nb8YTXzg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-ngx-postgres-v18
    namespace: paperless-ngx
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:9inwqpPM3Ii+u2wV6+htFZFlOPHVD6+x+OE=,iv:dYxHOgrhQpckIusBaCkBjqbBWcyNgKmmmxQPJraI924=,tag:MD4g4Nh8HxN8WWdLCu7WJg==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:1GbFVIyR/ICpi+g1jIDzuR37DhaJr6mzbAkx8gMXep856036PBqxpXyNrKKlkhEbJiCjp27ciEtgsKMQJQDr8Q==,iv:DvBISvnpo1jy8ylyrPz3tGp4NhW/DZarHp5d8FutshI=,tag:MizDgVd7ltnUc5qPkgmUvA==,type:str]
    region: ENC[AES256_GCM,data:Smp1KfV8,iv:2LRUFJSS/Z+EkhVz7lmiK72HmHJ0KbnCE5QMhJHjZn4=,tag:RBhdPV0uuPZ/bmE6iSY2Iw==,type:str]
    password: ENC[AES256_GCM,data:oiDyMwep58ArDNkPMYYHkCyieOee/i6uSaG9F0xJlVWinclhpEBnjQPvbFFfQSGRVtHkxCDnXrR7SLdX5CJw7g==,iv:ABnIU73o6BLqISb5qfaMegpO04OChJOblradGsVvjSs=,tag:OQY93g+rfLy9R5c//9pVng==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUUnREd2g4bnNqT0xvOS9K
            bE84L29qckRZWHp5a1Noeko1bTlpVEc5cVRnCmo2bmhWUEZjcmo0L1FKU3gxdWd0
            N3BXUDlwT01FRk9zNDJhUFMrNEoxWGcKLS0tIG8xRitpTEEwd0hJV0ZXOWlYMmRU
            SkY3SGZmdm5QSm0wUTJibEFxV2dBa3MKHf3nGy6agi7pvI+OtxvxPcUur1WqF9eO
            vBceqAlUpu67RdKwbDjDsjy9h8rZ4D+ppIg2UPuLgsUXx9iMl2TU6w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:12:57Z"
    mac: ENC[AES256_GCM,data:qhB/bHCY8CwmC1Y40fFpOQt8pNveXu6geP0k8OEmzRi6xugeQnu+5Nbz3V0C5UXfk4we2PF3z/lHC4Do1ANonaZgHO0kjCvllYnwbfDuK+LfGZDRXVpRwXePJrL5x02lEuVVUrQIELf9kBV8U//JWqHBWT869xlWnInZKmfVyIc=,iv:7z1cpqWsPQ6GRd3d+iPP/u5tHXJE1IwqKNj6B+VtPv0=,tag:2ZEvkU2AJH/Kk4Nb8YTXzg==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
