---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name paperless-ngx-offsite-sync
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: paperless-ngx
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      offsite-sync:
        type: cronjob
        cronjob:
          schedule: "13 */12 * * *"
        containers:
          offsite-sync:
            image:
              repository: ghcr.io/davralin/rsync
              tag: latest@sha256:5059a2d9dff4dddc774fe83fdb7f22c79a97f52482f90d1c414713512e340b1b
            command: ['/usr/bin/rsync']
            args: ["--archive", "--delete", "--verbose", "-e", "ssh -o StrictHostKeyChecking=no", "/paperless-ngx/backup/", "backup@nas.${SECRET_OFFSITE_DOMAIN}:/opt/backup/paperless-ngx/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      paperless-ngx:
        enabled: true
        existingClaim: paperless-ngx-export
        globalMounts:
          - path: /paperless-ngx
      sshkey:
        enabled: true
        type: secret
        name: sshkey
        defaultMode: 0600
        advancedMounts:
          offsite-sync:
            offsite-sync:
              - path: /home/user/.ssh/id_ed25519
                subPath: id_ed25519
                readOnly: true
