---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name paperless-ngx-volsync
  namespace: &namespace paperless-ngx
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: paperless-ngx
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: volsync
      namespace: flux-system
    - name: paperless-ngx
      namespace: flux-system
  values:
    resources:
      - apiVersion: v1
        kind: Secret
        metadata:
          name: paperless-ngx-volsync-secret
          namespace: paperless-ngx
        type: Opaque
        stringData:
          RESTIC_REPOSITORY: "s3:${SECRET_S3_VOLSYNC_URL}/volsync-${CLUSTER_NAME}/paperless-ngx"
          RESTIC_PASSWORD: "${SECRET_VOLSYNC_RESTIC_PWD}"
          AWS_ACCESS_KEY_ID: "${SECRET_S3_VOLSYNC_ACCESS_KEYS}"
          AWS_SECRET_ACCESS_KEY: "${SECRET_S3_VOLSYNC_SECRET_KEYS}"
      - apiVersion: volsync.backube/v1alpha1
        kind: ReplicationSource
        metadata:
          name: *name
          namespace: *namespace
        spec:
          sourcePVC: paperless-ngx
          trigger:
            schedule: "04 01 * * *"
          restic:
            copyMethod: Direct
            pruneIntervalDays: 7
            repository: paperless-ngx-volsync-secret
            moverSecurityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: "OnRootMismatch"
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault
            retain:
              daily: 7
              within: 3d
      - apiVersion: networking.k8s.io/v1
        kind: NetworkPolicy
        metadata:
          name: *name
          namespace: *namespace
        spec:
          podSelector:
            matchLabels:
              app.kubernetes.io/created-by: volsync
          policyTypes:
            - Ingress
            - Egress
          ingress: []
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # S3-Backup
              - ipBlock:
                  cidr: 10.0.1.75/32
              ports:
                - port: 3900
                  protocol: TCP