---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name owntracks
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: owntracks
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      # Recorder:
      # ot-recorder: /store/ghash: Permission denied
      # Frontend:
      # /bin/sh: can't create /etc/nginx/nginx.conf: Permission denied
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      owntracks:
        containers:
          recorder:
            image:
              repository: owntracks/recorder
              tag: 1.0.1@sha256:050c3ac9ed798d4110f12e53851e94f9fa0fcecb16cf4d7457967eac2e498da7
            env:
              TZ: "${TIMEZONE}"
              OTR_HOST: "mqtt.${SECRET_DEFAULT_DOMAIN}"
              OTR_USER: "owntracks"
              OTR_PASS: "owntracks"
              OTR_CLIENTID: "owntracks"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
          frontend:
            image:
              repository: owntracks/frontend
              tag: 2.15.3@sha256:efa313bdec583939f6edc70eb148670a8bba1a5aed0508a326f5b2f2751d0861
            env:
              SERVER_HOST: "localhost"
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              # /bin/sh: can't create /etc/nginx/nginx.conf: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      owntracks:
        controller: *name
        ports:
          http:
            port: &port 80
          api:
            port: 8083
    ingress:
      owntracks:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "owntracks.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: owntracks
                  port: http
              - path: /api
                service:
                  identifier: owntracks
                  port: api
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: owntracks
        advancedMounts:
          owntracks:
            recorder:
              - path: /store
      frontend:
        type: configMap
        name: owntracks-config
        advancedMounts:
          owntracks:
            frontend:
              - path: /usr/share/nginx/html/config/config.js
                subPath: frontend-config.js
                readOnly: true
    networkpolicies:
      owntracks:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port