---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - namespace.yaml
  - networkpolicy.yaml
  - probes.yaml
  - pvc.yaml
  - volsync.yaml
configMapGenerator:
  - name: owntracks-config
    namespace: owntracks
    files:
      - frontend-config.js=./frontend-config.js
generatorOptions:
  disableNameSuffixHash: true