---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name changedetection
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: changedetection
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      changedetection:
        containers:
          changedetection:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.52.6
            env:
              TZ: "${TIMEZONE}"
              PLAYWRIGHT_DRIVER_URL: "ws://sockpuppetbrowser:3000"
              PUID: 1000
              PGID: 1000
              BASE_URL: &host "changedetection.${SECRET_DEFAULT_DOMAIN}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 1Gi
    service:
      changedetection:
        controller: *name
        ports:
          http:
            port: &port 5000
    ingress:
      changedetection:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: changedetection
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      datastore:
        enabled: true
        existingClaim: changedetection
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    networkpolicies:
      changedetection:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sockpuppetbrowser
                      app.kubernetes.io/instance: changedetection-sockpuppetbrowser
                      app.kubernetes.io/name: changedetection-sockpuppetbrowser
              ports:
                - port: 3000
                  protocol: TCP
            - to: # Gotify via ingress
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: 8443
                  protocol: TCP
            - to: # Needs to check for changes
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 80
                  protocol: TCP
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port