---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - helm-release-browser.yaml
  - namespace.yaml
  - networkpolicy.yaml
  - probes.yaml
  - pvc.yaml
  - volsync.yaml