---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name immich-user1-albums
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: immich
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      immich-user1-albums:
        type: cronjob
        cronjob:
          schedule: "29 02 * * *"
        containers:
          user1-albums:
            envFrom:
              - secretRef:
                  name: immich-user1-secret
            image:
              repository: ghcr.io/salvoxia/immich-folder-album-creator
              tag: 0.22.0@sha256:4435f5339a7cf52e4e7eeeb5ac2919f1c08da2eeafd5fc2682db4d0779cad470
            command: ["/script/immich_auto_album.sh"]
            env:
              TZ: "${TIMEZONE}"
              CRON_EXPRESSION: "37 13 * * *"
              SYNC_MODE: 1 # Delete empty albums
              SHARE_ROLE: viewer
              UNATTENDED: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }