---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name immich-user1-albums
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: immich
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      immich-user1-albums:
        type: cronjob
        cronjob:
          schedule: "29 02 * * *"
        containers:
          user1-albums:
            envFrom:
              - secretRef:
                  name: immich-user1-secret
            image:
              repository: ghcr.io/salvoxia/immich-folder-album-creator
              tag: 0.23.1@sha256:4f6a56a4c135d0a22a5971daf43ff22ea53b131d765671967d803bd5db75cf05
            command: ["/script/immich_auto_album.sh"]
            env:
              TZ: "${TIMEZONE}"
              SYNC_MODE: 1 # Delete empty albums
              SHARE_ROLE: viewer
              UNATTENDED: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL