---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name searxng
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: searxng
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 977
        runAsGroup: 977
        fsGroup: 977
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      searxng:
        strategy: RollingUpdate
        containers:
          searxng:
            image:
              repository: docker.io/searxng/searxng
              tag: 2025.12.7-74ec225ad@sha256:7605237e3d06762975999b1310ea1e5e4d97e165a55a5cfe45abb87ee6830828
            env:
              TZ: "${TIMEZONE}"
              SEARXNG_BASE_URL: "https://searxng.${SECRET_DEFAULT_DOMAIN}"
              SEARXNG_URL: "https://searxng.${SECRET_DEFAULT_DOMAIN}"
              SEARXNG_REDIS_URL: "redis://searxng-valkey.searxng.svc.cluster.local:6379"
              UWSGI_WORKERS: 4
              UWSGI_THREADS: 4
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # WARNING:searx.botdetection.config: missing config file: /etc/searxng/limiter.toml
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 2Gi
    service:
      searxng:
        controller: *name
        ports:
          http:
            port: &port 8080
    ingress:
      searxng:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "searxng.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: searxng
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /etc/searxng
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    networkpolicies:
      searxng:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port