---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name mailrise
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: mailrise
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      mailrise:
        strategy: RollingUpdate
        replicas: 2
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: yoryan/mailrise
              tag: 1.4.0
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      app:
        controller: *name
        ports:
          http:
            port: 8025
    secrets:
      conf:
        enabled: true
        stringData:
          mailrise.conf: |
            configs:
              discord:
                urls:
                  - "${SECRET_MAILRISE_DISCORD}"
    persistence:
      mailrise-config:
        enabled: true
        type: secret
        name: mailrise-conf
        advancedMounts:
          mailrise:
            app:
              - path: /etc/mailrise.conf
                subPath: mailrise.conf
                readOnly: true
