---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name seerr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: seerr-postgres-v18
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      seerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          seerr:
            image:
              repository: ghcr.io/seerr/seerr
              tag: v3.0.1@sha256:1b5fc1ea825631d9d165364472663b817a4c58ef6aa1013f58d82c1570d7c866
            env:
              TZ: "${TIMEZONE}"
              #API_KEY: "${SECRET_SEERR_API_KEY}"
              DB_TYPE: "postgres"
              DB_HOST: seerr-postgres-v18-rw.media.svc.cluster.local
              DB_PORT: "5432"
              DB_USER: *name
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: seerr-basic-auth
                    key: password
              DB_NAME: *name
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: 5055
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 1Gi
    service:
      seerr:
        controller: *name
        ports:
          http:
            port: &port 5055
    ingress:
      seerr:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "seerr.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: seerr
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: seerr
        globalMounts:
          - path: /app/config
      config-cache:
        existingClaim: seerr-cache
        globalMounts:
          - path: /app/config/cache
      config-logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
      tmp:
        type: emptyDir
    networkpolicies:
      seerr:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: seerr-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: fin
                      app.kubernetes.io/instance: media-fin
                      app.kubernetes.io/name: media-fin
              ports:
                - port: 8096
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
              ports:
                - port: 7878
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
              ports:
                - port: 8989
            - to: # Needs to reach out for artwork and such
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: gotify
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: scraparr
                      app.kubernetes.io/instance: media-scraparr
                      app.kubernetes.io/name: media-scraparr
              ports:
                - port: *port