---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: crosswatch
  namespace: media
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi