---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name multiscrobbler
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.multiscrobbler.containers.multiscrobbler.env.LASTFM_API_KEY
      kind: Secret
      name: multiscrobbler-secrets
      valuesKey: LASTFM_API_KEY
    - targetPath: controllers.multiscrobbler.containers.multiscrobbler.env.LASTFM_SECRET
      kind: Secret
      name: multiscrobbler-secrets
      valuesKey: LASTFM_SECRET
    - targetPath: controllers.multiscrobbler.containers.multiscrobbler.env.SPOTIFY_CLIENT_ID
      kind: Secret
      name: multiscrobbler-secrets
      valuesKey: SPOTIFY_CLIENT_ID
    - targetPath: controllers.multiscrobbler.containers.multiscrobbler.env.SPOTIFY_CLIENT_SECRET
      kind: Secret
      name: multiscrobbler-secrets
      valuesKey: SPOTIFY_CLIENT_SECRET
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        # s6-overlay-suexec: warning: unable to gain root privileges (is the suid bit set?)
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      multiscrobbler:
        containers:
          multiscrobbler:
            image:
              repository: ghcr.io/foxxmd/multi-scrobbler
              tag: 0.10.8@sha256:96d3f49e5a426f5088655610f2e066aee0c717c4e5d1052aedffb888c9626c6b
            env:
              TZ: "${TIMEZONE}"
              BASE_URL: "https://multiscrobbler.${SECRET_DEFAULT_DOMAIN}"
              JELLYFIN_URL: "http://jellyfin.media.svc.cluster.local:8096"
              JELLYFIN_USER: "${SECRET_JELLYFIN_USER}"
              JELLYFIN_APIKEY: "${SECRET_JELLYFIN_TOKEN}"
              PLEX_URL: "http://plex.media.svc.cluster.local:32400"
              PLEX_USERS_ALLOW: "${SECRET_PLEX_USER}"
              PLEX_TOKEN: "${SECRET_PLEX_TOKEN}"
              LASTFM_REDIRECT_URI: "https://multiscrobbler.${SECRET_DEFAULT_DOMAIN}/lastfm/callback"
              SPOTIFY_REDIRECT_URI: "https://multiscrobbler.${SECRET_DEFAULT_DOMAIN}/spotify/callback"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # s6-rmrf: fatal: unable to remove /run/s6: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 700Mi
    service:
      multiscrobbler:
        controller: *name
        ports:
          http:
            port: &port 9078
    ingress:
      multiscrobbler:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "multiscrobbler.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: multiscrobbler
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: multiscrobbler
    networkpolicies:
      multiscrobbler:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Needs to contact scrobble-targets
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: plex
                      app.kubernetes.io/instance: media-plex
                      app.kubernetes.io/name: media-plex
              ports:
                - port: 32400
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyfin
                      app.kubernetes.io/instance: media-jellyfin
                      app.kubernetes.io/name: media-jellyfin
              ports:
                - port: 8096
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port