---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minecraft-router
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: mc-router
      version: 1.3.0
      sourceRef:
        kind: HelmRepository
        name: itzg-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: minecraft
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    services:
      minecraft:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "10.0.1.31"
    minecraftRouter:
      debug:
        enabled: true