---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name nextcloud-backup-to-jottacloud
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      backup-to-jottacloud:
        type: cronjob
        cronjob:
          schedule: "27 05 * * *"
        containers:
          backup-to-jottacloud:
            image:
              repository: ghcr.io/rclone/rclone
              tag: 1.72.1
            command: ["/backup.sh"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    configMaps:
      shell:
        enabled: true
        data:
          backup.sh: |
            #!/bin/sh
            /usr/local/bin/rclone sync --exclude data/nextcloud.log --check-first --delete-after --progress --jottacloud-hard-delete --backup-dir "jottacloud-crypt:/nextcloud/$(date -I)" /nextcloud/ jottacloud-crypt:/nextcloud/current
            #/usr/local/bin/rclone sync --exclude data/nextcloud.log --check-first --delete-after --progress --jottacloud-hard-delete --backup-dir "jottacloud-telia-crypt:/nextcloud/$(date -I)" /nextcloud/ jottacloud-telia-crypt:/nextcloud/current
            # Deprecated
    persistence:
      nextcloud:
        enabled: true
        existingClaim: nextcloud
        globalMounts:
          - path: /nextcloud/data
      calcardbackup:
        enabled: true
        existingClaim: calcardbackup
        globalMounts:
          - path: /nextcloud/calcardbackup
      config:
        enabled: true
        existingClaim: rcloneconfig
      backup-to-jottacloud-shell:
        enabled: true
        type: configMap
        name: nextcloud-backup-to-jottacloud
        defaultMode: 0755
        advancedMounts:
          backup-to-jottacloud:
            backup-to-jottacloud:
              - path: backup.sh
                subPath: backup.sh
                readOnly: true
    networkpolicies:
      backup-to-jottacloud:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Jottacloud
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
          ingress: []