---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name jottacloud-photos-to-nextcloud
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      jottacloud-photos-to-nextcloud:
        type: cronjob
        cronjob:
          schedule: "45 02 * * *"
        containers:
          jottacloud-photos-to-nextcloud:
            image:
              repository: ghcr.io/rclone/rclone
              tag: 1.72.1
            command: ["/photos-to-nextcloud.sh"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    configMaps:
      shell:
        enabled: true
        data:
          photos-to-nextcloud.sh: |
            #!/bin/sh
            /usr/local/bin/rclone copy --progress --max-age 14d jottacloud-photos: nextcloud:InstantUpload/
    persistence:
      config:
        enabled: true
        existingClaim: rcloneconfig
      jottacloud-photos-to-nextcloud:
        enabled: true
        type: configMap
        name: jottacloud-photos-to-nextcloud
        defaultMode: 0755
        advancedMounts:
          jottacloud-photos-to-nextcloud:
            jottacloud-photos-to-nextcloud:
              - path: photos-to-nextcloud.sh
                subPath: photos-to-nextcloud.sh
                readOnly: true
    networkpolicies:
      jottacloud-photos-to-nextcloud:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Jottacloud
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: nextcloud
                      app.kubernetes.io/instance: nextcloud-nextcloud
                      app.kubernetes.io/name: nextcloud-nextcloud
              ports:
                - port: 80
                  protocol: TCP
          ingress: []