---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name nextcloud-chown
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      nextcloud-chown:
        type: cronjob
        cronjob:
          schedule: "59 12 * * *"
        containers:
          nextcloud-chown:
            image:
              repository: ghcr.io/davralin/utility
              tag: latest@sha256:733ccec71b192202238708552d35e548cc470b304f477ff7c2fdd14d8f245539
            command: ['/bin/chown']
            args: ["-R", "33:33", "/var/www/html/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - CHOWN
                drop:
                  - ALL
    persistence:
      config:
        enabled: true
        existingClaim: nextcloud
        globalMounts:
          - path: /var/www/html
    networkpolicies:
      nextcloud-chown:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
          - Egress
        rules:
          egress: []
          ingress: []