---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name jottacloud-photos-to-nextcloud
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      jottacloud-photos-to-nextcloud:
        type: cronjob
        cronjob:
          schedule: "45 02 * * *"
        containers:
          jottacloud-photos-to-nextcloud:
            image:
              repository: ghcr.io/rclone/rclone
              tag: 1.72.0
            command: ["/photos-to-nextcloud.sh"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    configMaps:
      shell:
        enabled: true
        data:
          photos-to-nextcloud.sh: |
            #!/bin/sh
            /usr/local/bin/rclone copy --progress --max-age 14d jottacloud-photos: nextcloud:InstantUpload/
    persistence:
      config:
        enabled: true
        existingClaim: rcloneconfig
      jottacloud-photos-to-nextcloud:
        enabled: true
        type: configMap
        name: jottacloud-photos-to-nextcloud
        defaultMode: 0755
        advancedMounts:
          jottacloud-photos-to-nextcloud:
            jottacloud-photos-to-nextcloud:
              - path: photos-to-nextcloud.sh
                subPath: photos-to-nextcloud.sh
                readOnly: true