---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name wallos
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: wallos
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    # Listens on port 80, chown's around
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      wallos:
        containers:
          wallos:
            image:
              repository: ghcr.io/ellite/wallos
              tag: 4.5.0
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            resources:
              requests:
                cpu: 10m
                memory: 60Mi
              limits:
                memory: 120Mi
            securityContext:
              allowPrivilegeEscalation: false
              # /var/www/html/startup.sh: line 3: can't create /var/log/startup.log: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - CHOWN
                  - FOWNER
                  - SETGID
                drop:
                  - ALL
    service:
      wallos:
        controller: *name
        ports:
          http:
            port: 80
    ingress:
      wallos:
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "wallos.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: wallos
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      wallos:
        enabled: true
        existingClaim: wallos
        advancedMounts:
          wallos:
            wallos:
              - path: /var/www/html/db
                subPath: db
              - path: /var/www/html/images/uploads/logos
                subPath: logos