---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minecraft-onsite-sync
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: minecraft
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      onsite-sync:
        type: cronjob
        cronjob:
          schedule: "12 */6 * * *"
        containers:
          onsite-sync:
            image:
              repository: ghcr.io/davralin/rsync
              tag: latest@sha256:3745dc8ab19b8327b6ebd6d190b7fdfd1a1a86e47d2f09cca4f33a896f7066b0
            command: ['/usr/bin/rsync']
            args: ["--archive", "--delete", "--verbose", "-e", "ssh -o StrictHostKeyChecking=no", "/minecraft/", "backup@nas.${SECRET_DEFAULT_DOMAIN}:/opt/local/minecraft/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      bedrock-creative-backup:
        enabled: true
        existingClaim: bedrock-creative-backup
        globalMounts:
          - path: /minecraft/bedrock-creative
      creative-backup:
        enabled: true
        existingClaim: creative-backup
        globalMounts:
          - path: /minecraft/creative
      survival-backup:
        enabled: true
        existingClaim: survival-backup
        globalMounts:
          - path: /minecraft/survival
      oldworld:
        enabled: true
        existingClaim: oldworld
        globalMounts:
          - path: /minecraft/old_worlds
      sshkey:
        enabled: true
        type: secret
        name: sshkey
        defaultMode: 0600
        advancedMounts:
          onsite-sync:
            onsite-sync:
              - path: /home/user/.ssh/id_ed25519
                subPath: id_ed25519
                readOnly: true
