---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minecraft-offsite-sync
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: minecraft
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      offsite-sync:
        type: cronjob
        cronjob:
          schedule: "47 */12 * * *"
        containers:
          offsite-sync:
            image:
              repository: ghcr.io/davralin/rsync
              tag: latest@sha256:57f481e1fcca6fd51fa099743ed525c612246aa81ecf003dbb8a7daffbd8828f
            command: ['/usr/bin/rsync']
            args: ["--archive", "--delete", "--verbose", "-e", "ssh -o StrictHostKeyChecking=no", "/minecraft/", "backup@nas.${SECRET_OFFSITE_DOMAIN}:/opt/local/minecraft/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    persistence:
      bedrock-creative-backup:
        enabled: true
        existingClaim: bedrock-creative-backup
        globalMounts:
          - path: /minecraft/bedrock-creative
      creative-backup:
        enabled: true
        existingClaim: creative-backup
        globalMounts:
          - path: /minecraft/creative
      survival-backup:
        enabled: true
        existingClaim: survival-backup
        globalMounts:
          - path: /minecraft/survival
      oldworld:
        enabled: true
        existingClaim: oldworld
        globalMounts:
          - path: /minecraft/old_worlds
      sshkey:
        enabled: true
        type: secret
        name: sshkey
        defaultMode: 0600
        advancedMounts:
          offsite-sync:
            offsite-sync:
              - path: /home/user/.ssh/id_ed25519
                subPath: id_ed25519
                readOnly: true
