---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fabric-mods
  namespace: minecraft
spec:
  storageClassName: "${STORAGE_READWRITEMANY}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi