---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name unpoller
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: unifi
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: unifi
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      unpoller:
        containers:
          unpoller:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.17.0
            env:
              TZ: "${TIMEZONE}"
              UP_UNIFI_DEFAULT_URL: https://unifi.${SECRET_DEFAULT_DOMAIN}
              UP_UNIFI_DEFAULT_VERIFY_SSL: true
              UP_UNIFI_DEFAULT_USER: unifipoller
              UP_UNIFI_DEFAULT_PASS: 1nternalUseOnly
              UP_INFLUXDB_DISABLE: true
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      unpoller:
        controller: *name
        ports:
          http:
            port: 9130
    serviceMonitor:
      unpoller:
        serviceName: *name
        enabled: "${MONITORING_PROMETHEUS}"
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 5s