---
apiVersion: v1
kind: Secret
metadata:
  name: unifi-volsync-secret
  namespace: unifi
type: Opaque
stringData:
  RESTIC_REPOSITORY: "s3:${SECRET_S3_URL}/volsync-${CLUSTER_NAME}/unifi"
  RESTIC_PASSWORD: "${SECRET_VOLSYNC_RESTIC_PWD}"
  AWS_ACCESS_KEY_ID: "${SECRET_VOLSYNC_ACCESS_KEYS}"
  AWS_SECRET_ACCESS_KEY: "${SECRET_VOLSYNC_SECRET_KEYS}"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-volsync
  namespace: unifi
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: unifi
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: volsync
      namespace: flux-system
    - name: unifi
      namespace: flux-system
  values:
    resources:
      - apiVersion: volsync.backube/v1alpha1
        kind: ReplicationSource
        metadata:
          name: unifi
          namespace: unifi
        spec:
          sourcePVC: unifi
          trigger:
            schedule: "04 01 * * *"
          restic:
            copyMethod: Direct
            pruneIntervalDays: 7
            repository: unifi-volsync-secret
            moverSecurityContext:
              runAsUser: 999
              runAsGroup: 999
              fsGroup: 999
              fsGroupChangePolicy: "OnRootMismatch"
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault
            retain:
              daily: 7
              within: 3d