---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openclaw
  namespace: openclaw
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi