---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name esphome
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: esphome
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    # PermissionError: [Errno 13] Permission denied: '/.platformio'
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      esphome:
        containers:
          esphome:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.4.0
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              # OSError: [Errno 30] Read-only file system: '/.platformio'
              readOnlyRootFilesystem: false
              # PermissionError: [Errno 13] Permission denied: '/config/.esphome/platformio/packages/tool-cmake/bin/cmake':
              #capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 2048Mi
    service:
      esphome:
        controller: *name
        ports:
          http:
            port: 6052
    ingress:
      esphome:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "esphome.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: esphome
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: esphome
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome