---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack-scrapeconfig
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: flux-system
  values:
    resources:
      - apiVersion: monitoring.coreos.com/v1alpha1
        kind: ScrapeConfig
        metadata:
          name: &name node-exporter
          namespace: monitoring
        spec:
          staticConfigs:
            - targets:
                - mierin:9100
                - nas.${SECRET_PRIVATE_DOMAIN}:9100
                - nas.${SECRET_OFFSITE_DOMAIN}:9100
                - proxmox.${SECRET_PRIVATE_DOMAIN}:9100
                - wireguard.${SECRET_PUBLIC_DOMAIN}:9100
          metricsPath: /metrics
          relabelings:
            - action: replace
              targetLabel: job
              replacement: *name
      - apiVersion: monitoring.coreos.com/v1alpha1
        kind: ScrapeConfig
        metadata:
          name: &name haproxy-node-exporter
          namespace: monitoring
        spec:
          staticConfigs:
            - targets:
                - mierin:8404
          metricsPath: /metrics
          relabelings:
            - action: replace
              targetLabel: job
              replacement: *name
      - apiVersion: monitoring.coreos.com/v1alpha1
        kind: ScrapeConfig
        metadata:
          name: &name dnsmasq-node-exporter
          namespace: monitoring
        spec:
          staticConfigs:
            - targets:
                - mierin:9153
          metricsPath: /metrics
          relabelings:
            - action: replace
              targetLabel: job
              replacement: *name
      - apiVersion: monitoring.coreos.com/v1alpha1
        kind: ScrapeConfig
        metadata:
          name: &name wireguard-node-exporter
          namespace: monitoring
        spec:
          staticConfigs:
            - targets:
                - mierin:9586
          metricsPath: /metrics
          relabelings:
            - action: replace
              targetLabel: job
              replacement: *name