---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  podSelector:
    matchLabels:
      alertmanager: kube-prom
      app.kubernetes.io/instance: kube-prom
      app.kubernetes.io/managed-by: prometheus-operator
      app.kubernetes.io/name: alertmanager
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: haproxy-controller
          podSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-ingress
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: flux-system
          podSelector:
            matchLabels:
              app: notification-controller
      ports:
        - port: 9093
          protocol: TCP
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 8080
          protocol: TCP
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: gotify
          podSelector:
            matchLabels:
              app.kubernetes.io/controller: gotify-alertmanager
              app.kubernetes.io/instance: gotify-gotify-alertmanager
              app.kubernetes.io/name: gotify-gotify-alertmanager
      ports:
        - port: 80
    - to: # Discord
      - ipBlock:
          cidr: 0.0.0.0/0
          except:
          - "${HAPROXY_WHITELIST}"
      ports:
        - port: 443
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: prometheus
  namespace: monitoring
spec:
  podSelector:
    matchLabels:
      prometheus: kube-prom
      app.kubernetes.io/instance: kube-prom
      app.kubernetes.io/managed-by: prometheus-operator
      app.kubernetes.io/name: prometheus
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: haproxy-controller
          podSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-ingress
        - podSelector:
            matchLabels:
              app.kubernetes.io/instance: monitoring-grafana
              app.kubernetes.io/name: grafana
      ports:
        - port: 9090
          protocol: TCP
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
    - to:
        - podSelector:
            matchLabels:
              alertmanager: kube-prom
              app.kubernetes.io/instance: kube-prom
              app.kubernetes.io/managed-by: prometheus-operator
              app.kubernetes.io/name: alertmanager
      ports:
        - port: 9093
          protocol: TCP
    - to:
        - namespaceSelector: {}
    - to: # External node-exporters
      - ipBlock:
          cidr: "${HAPROXY_WHITELIST}"
      ports:
        - port: 8404 # Haproxy
          protocol: TCP
        - port: 9100 # Node-exporter
          protocol: TCP
        - port: 9153 # DNSMasq
          protocol: TCP
        - port: 9586 # Wireguard
          protocol: TCP
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: prometheus
  namespace: monitoring
spec:
  endpointSelector:
    matchLabels:
      prometheus: kube-prom
      app.kubernetes.io/instance: kube-prom
      app.kubernetes.io/managed-by: prometheus-operator
      app.kubernetes.io/name: prometheus
  egress:
    - toEntities:
      - host
      - kube-apiserver
      - remote-node
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: prometheus-stack-operator
  namespace: monitoring
spec:
  podSelector:
    matchLabels:
      app: kube-prometheus-stack-operator
      app.kubernetes.io/component: prometheus-operator
      app.kubernetes.io/instance: monitoring-kube-prometheus-stack
      app.kubernetes.io/name: kube-prometheus-stack-prometheus-operator
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - port: 10250
          protocol: TCP
  egress: []
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: prometheus-stack-operator
  namespace: monitoring
spec:
  endpointSelector:
    matchLabels:
      app: kube-prometheus-stack-operator
      app.kubernetes.io/component: prometheus-operator
      app.kubernetes.io/instance: monitoring-kube-prometheus-stack
      app.kubernetes.io/name: kube-prometheus-stack-prometheus-operator
  egress:
    - toEntities:
      - kube-apiserver