---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name epicgames-free
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: epicgames-free
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.epicgames-free.containers.epicgames-free.env.EMAIL
      kind: Secret
      name: epicgames-free-login
      valuesKey: EMAIL
    - targetPath: controllers.epicgames-free.containers.epicgames-free.env.PASSWORD
      kind: Secret
      name: epicgames-free-login
      valuesKey: PASSWORD
    - targetPath: controllers.epicgames-free.containers.epicgames-free.env.TOTP
      kind: Secret
      name: epicgames-free-login
      valuesKey: TOTP
    - targetPath: controllers.epicgames-free.containers.epicgames-free.env.DISCORD_WEBHOOK
      kind: Secret
      name: epicgames-free-login
      valuesKey: WEBHOOK_URL
    - targetPath: controllers.epicgames-free.containers.epicgames-free.env.GOTIFY_TOKEN
      kind: Secret
      name: epicgames-free-login
      valuesKey: GOTIFY_TOKEN
  values:
    fullnameOverride: *name
    # https://github.com/claabs/epicgames-freegames-node/issues/228
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # mkdir: cannot create directory '/nonexistent': Permission denied
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      epicgames-free:
        containers:
          epicgames-free:
            image:
              repository: ghcr.io/claabs/epicgames-freegames-node
              tag: debian@sha256:1cf793384ba328e69398ce02382fd0432b41a5a862f1d4e4a9a94f3fd74c32db
            env:
              TZ: "${TIMEZONE}"
              RUN_ON_STARTUP: "true"
              BASE_URL: "https://epicgames.${SECRET_DEFAULT_DOMAIN}"
              GOTIFY_API_URL: "http://gotify.gotify.svc.cluster.local:80"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            # https://github.com/claabs/epicgames-freegames-node/issues/228
            securityContext:
              allowPrivilegeEscalation: false
              # ERROR: Failed to launch the browser process:  Code: null
              readOnlyRootFilesystem: false
              # ERROR: Encountered an error during browser automation. Saved a screenshot for debugging purposes.
              #capabilities:
                #drop:
                  #- ALL
            resources:
              requests:
                cpu: 10m
                memory: 350Mi
              limits:
                memory: 2000Mi
    service:
      epicgames-free:
        controller: *name
        ports:
          http:
            port: &port 3000
    ingress:
      epicgames-free:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "epicgames.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: epicgames-free
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: epicgames-free
        globalMounts:
          - path: /usr/app/config
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      roottmp:
        type: emptyDir
        globalMounts:
          - path: /root/.local
    networkpolicies:
      epicgames-free:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # to actually check for available games
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 80
                  protocol: TCP
                - port: 443
                  protocol: TCP
                #- port: 5228 # GCM?
                #  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port