---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name prowlarr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: prowlarr-postgres-v18
      namespace: flux-system
  valuesFrom:
    - targetPath: controllers.prowlarr.containers.prowlarr.env.PROWLARR__POSTGRES__PASSWORD
      kind: Secret
      name: prowlarr-config
      valuesKey: POSTGRES_PASSWORD
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      prowlarr:
        containers:
          prowlarr:
            image:
              repository: ghcr.io/home-operations/prowlarr
              tag: 2.3.1.5238@sha256:4394dff2311238bf5c31e006872122ed4e5f6bf042d33528d80acd44a09c57f7
            env:
              TZ: "${TIMEZONE}"
              PROWLARR__AUTH__APIKEY: "${SECRET_PROWLARR_API_KEY}"
              PROWLARR__POSTGRES__HOST: prowlarr-postgres-v18-rw.media.svc.cluster.local
              PROWLARR__POSTGRES__PORT: "5432"
              PROWLARR__POSTGRES__USER: "prowlarr"
              PROWLARR__POSTGRES__MAINDB: prowlarr_main
              PROWLARR__AUTH__METHOD: External
              PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
              PROWLARR__LOG__DBENABLED: "False"
              PROWLARR__LOG__LEVEL: info
            securityContext:
              allowPrivilegeEscalation: false
              # System.IO.IOException: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: 9696
                  initialDelaySeconds: 50
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 400Mi
    service:
      prowlarr:
        controller: *name
        ports:
          http:
            port: &port 9696
    ingress:
      prowlarr:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "prowlarr.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: prowlarr
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        type: emptyDir
    networkpolicies:
      prowlarr:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: prowlarr-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: qbittorrent
                      app.kubernetes.io/instance: media-qbittorrent
                      app.kubernetes.io/name: media-qbittorrent
              ports:
                - port: 8080
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: gotify
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
            - to: # indexers
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: readarr
                      app.kubernetes.io/instance: media-readarr
                      app.kubernetes.io/name: media-readarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: scraparr
                      app.kubernetes.io/instance: media-scraparr
                      app.kubernetes.io/name: media-scraparr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: speakarr
                      app.kubernetes.io/instance: media-speakarr
                      app.kubernetes.io/name: media-speakarr
              ports:
                - port: *port