---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name daily-sitebackup-from
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: jobs
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      daily-sitebackup-from:
        type: cronjob
        cronjob:
          schedule: "32 07 * * *"
        containers:
          daily-sitebackup-from:
            image:
              repository: ghcr.io/davralin/rsync
              tag: latest@sha256:3745dc8ab19b8327b6ebd6d190b7fdfd1a1a86e47d2f09cca4f33a896f7066b0
            command: ['/usr/bin/rsync']
            args: ["--archive", "--delete", "--verbose", "--rsync-path", "sudo rsync", "-e", "ssh -o StrictHostKeyChecking=no", "backup@nas.${SECRET_OFFSITE_DOMAIN}:/opt/local/", "/home/user/backup/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      sitebackup:
        enabled: true
        existingClaim: sitebackup
        globalMounts:
          - path: /home/user/backup
      sshkey:
        enabled: true
        type: secret
        name: sshkey
        defaultMode: 0600
        advancedMounts:
          daily-sitebackup-from:
            daily-sitebackup-from:
              - path: /home/user/.ssh/id_ed25519
                subPath: id_ed25519
                readOnly: true