---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: hubble-relay
  namespace: kube-system
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: hubble-relay
      app.kubernetes.io/part-of: cilium
      k8s-app: hubble-relay
  policyTypes:
    - Egress
    - Ingress
  egress: []
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: hubble-relay
              app.kubernetes.io/part-of: cilium
              k8s-app: hubble-relay
      ports:
        - port: 4245
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: hubble-relay
  namespace: kube-system
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: hubble-relay
      app.kubernetes.io/part-of: cilium
      k8s-app: hubble-relay
  egress:
    - toEntities:
      - host
      toPorts:
        - ports:
            - port: 4244 # hubble-relay
              protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: hubble-ui
  namespace: kube-system
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: hubble-ui
      app.kubernetes.io/part-of: cilium
      k8s-app: hubble-ui
  policyTypes:
    - Egress
    - Ingress
  egress:
    - to:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: hubble-relay
              app.kubernetes.io/part-of: cilium
              k8s-app: hubble-relay
      ports:
        - port: 4245
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: haproxy-controller
          podSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-ingress
      ports:
        - port: 8081