---
name: adsb

services:
  ultrafeeder:
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:latest@sha256:628ebe22a1256a7c435536a3be22acbdf009529da704ee672b8bca64120723c9
    hostname: ultrafeeder
    ports:
      - "{{ adsb_compose_ip_binding_ultrafeeder_web }}:80"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - "{{ adsb_compose_config_path }}/autogain:/run/autogain"
    environment:
      TZ: "{{ adsb_compose_tz }}"
      READSB_DEVICE_TYPE: "rtlsdr"
      READSB_ALT: "{{ adsb_compose_altitude }}"
      READSB_LAT: "{{ adsb_compose_latitude }}"
      READSB_LON: "{{ adsb_compose_lontitude }}"
      GRAPHS1090_DISABLE: "true"
    restart: always
  fr24feed:
    image: ghcr.io/sdr-enthusiasts/docker-flightradar24:1.0.48-0@sha256:fb3d01117f1a690dfc31c21295eb13edd970a98b77e440cb04717bb5f2ac9f52
    environment:
      BEASTHOST: "{{ adsb_compose_beasthost }}"
      FR24KEY: "{{ adsb_compose_fr24key }}"
      # If you are sharing to other networks alongside Flightradar24, please disable MLAT.
      MLAT: "no"
      MLAT-without-gps: "no"
    restart: always
  adsbhub:
    image: ghcr.io/sdr-enthusiasts/docker-adsbhub:1.06@sha256:ce5cfd547c2c83f91d6df63c13b5d4d73c006c7426be5d27c76efccee4961159
    environment:
      TZ: "{{ adsb_compose_tz }}"
      SBSHOST: "{{ adsb_compose_beasthost }}"
      LAT: "{{ adsb_compose_latitude }}"
      LON: "{{ adsb_compose_lontitude }}"
      CLIENTKEY: "{{ adsb_compose_adsbhub_clientkey }}"
    restart: always
  planefinder:
    image: ghcr.io/sdr-enthusiasts/docker-planefinder:latest@sha256:39da0df6690d16f7680b239c61c22746853345008fff5def12735019130a8c1e
    environment:
      TZ: "{{ adsb_compose_tz }}"
      BEASTHOST: "{{ adsb_compose_beasthost }}"
      LAT: "{{ adsb_compose_latitude }}"
      LONG: "{{ adsb_compose_lontitude }}"
      SHARECODE: "{{ adsb_compose_planefinder_sharecode }}"
    restart: always
  opensky:
    image: ghcr.io/sdr-enthusiasts/docker-opensky-network:2.1.7-1@sha256:fc2fe2238cf4ef20cc5cc8e53448ede36d3c753ccaaf34d914307af6ba7f3923
    environment:
      TZ: "{{ adsb_compose_tz }}"
      BEASTHOST: "{{ adsb_compose_beasthost }}"
      ALT: "{{ adsb_compose_altitude }}"
      LAT: "{{ adsb_compose_latitude }}"
      LONG: "{{ adsb_compose_lontitude }}"
      OPENSKY_USERNAME: "{{ adsb_compose_opensky_username }}"
      OPENSKY_SERIAL: "{{ adsb_compose_opensky_serial }}"
    restart: always
  piaware:
    image: ghcr.io/sdr-enthusiasts/docker-piaware:v9.0.1@sha256:5b9a5d2dde4e80fcf8395ccb20acfdba04fc09cfd2af7794519fad154b244a04
    environment:
      TZ: "{{ adsb_compose_tz }}"
      BEASTHOST: "{{ adsb_compose_beasthost }}"
      LAT: "{{ adsb_compose_latitude }}"
      LON: "{{ adsb_compose_lontitude }}"
      RECEIVER_TYPE: "relay"
      FEEDER_ID: "{{ adsb_compose_piaware_feeder_id }}"
    restart: always
