---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name openwebui
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: openwebui
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.openwebui.containers.openwebui.env.DATABASE_URL
      kind: Secret
      name: openwebui-secrets
      valuesKey: DATABASE_URL
    - targetPath: controllers.openwebui.containers.openwebui.env.WEBUI_SECRET_KEY
      kind: Secret
      name: openwebui-secrets
      valuesKey: WEBUI_SECRET_KEY
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      openwebui:
        containers:
          openwebui:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.41@sha256:3e07bcede92e97cc3e741de095045a8b5d20bc257ecdb713bd2a47f68e9dff72
            env:
              ENABLE_RAG_WEB_SEARCH: true
              RAG_WEB_SEARCH_ENGINE: "searxng"
              SEARXNG_QUERY_URL: "http://searxng.searxng.svc.cluster.local:8080/search?q=<query>"
              WEBUI_URL: "https://openwebui.${SECRET_DEFAULT_DOMAIN}"
              CORS_ALLOW_ORIGIN: "https://openwebui.${SECRET_DEFAULT_DOMAIN}"
              DATA_DIR: /app/backend/data
              OFFLINE_MODE: true
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # start.sh: line 16: .webui_secret_key: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 600Mi
              limits:
                memory: 1000Mi
    service:
      openwebui:
        controller: *name
        ports:
          http:
            port: &port 8080
    ingress:
      openwebui:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "openwebui.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: openwebui
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: openwebui
        globalMounts:
          - path: /app/backend/data
    networkpolicies:
      openwebui:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Home Assistant Ollama
              - ipBlock:
                  cidr: 10.0.1.79/32
              ports:
                - port: 11434
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: litellm
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: litellm
                      app.kubernetes.io/instance: litellm-litellm
                      app.kubernetes.io/name: litellm-litellm
              ports:
                - port: 4000
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: openwebui-postgres-v17
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port