---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name intel-device-plugins-gpu
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.34.1
      sourceRef:
        kind: HelmRepository
        name: intel-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: intel-gpu
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 10
  dependsOn:
    - name: intel-device-plugin-operator
      namespace: flux-system
    - name: node-feature-discovery
      namespace: flux-system
  values:
    name: intel-gpu-plugin
    sharedDevNum: 3
    nodeFeatureRule: false