---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name intel-device-plugin-operator
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: 0.34.1
      sourceRef:
        kind: HelmRepository
        name: intel-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: intel-gpu
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 10
  values:
    manager:
      devices:
        gpu: true