---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name adguard
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.1.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: adguard
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    # Containers listens on tcp/53 and tcp/80
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # [fatal] writing config file: open /opt/adguardhome/conf/.AdGuardHome.yaml7437003519424238868: permission denied
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      adguard:
        containers:
          adguard:
            image:
              repository: adguard/adguardhome
              tag: v0.107.63
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              # exec /opt/adguardhome/AdGuardHome: operation not permitted
              #capabilities: { drop: ["ALL"] }
            resources:
              requests:
                memory: 400Mi
              limits:
                memory: 2Gi
    service:
      adguard:
        controller: *name
        ports:
          http:
            port: 80
      #dns:
      #  controller: *name
      #  type: LoadBalancer
      #  externalTrafficPolicy: Local
      #  loadBalancerIP: 10.0.1.37
      #  ports:
      #    dns-tcp:
      #      enabled: true
      #      port: 53
      #      protocol: TCP
      #    dns-udp:
      #      enabled: true
      #      port: 53
      #      protocol: UDP
    ingress:
      adguard:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "adguard.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: adguard
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: adguard
        advancedMounts:
          adguard:
            adguard:
              - path: /opt/adguardhome/conf
                subPath: conf
              - path: /opt/adguardhome/work
                subPath: work