---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name radarr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: radarr-postgres-v18
      namespace: flux-system
  valuesFrom:
    - targetPath: controllers.radarr.containers.radarr.env.RADARR__POSTGRES__PASSWORD
      kind: Secret
      name: radarr-config
      valuesKey: POSTGRES_PASSWORD
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      radarr:
        containers:
          radarr:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.0.10316@sha256:ba33a817917792a589f1223e2da9d336692f9eb626b15ff8c7f06afcab4356bd
            env:
              TZ: "${TIMEZONE}"
              RADARR__AUTH__APIKEY: "${SECRET_RADARR_API_KEY}"
              RADARR__POSTGRES__HOST: radarr-postgres-v18-rw.media.svc.cluster.local
              RADARR__POSTGRES__PORT: "5432"
              RADARR__POSTGRES__USER: "radarr"
              RADARR__POSTGRES__MAINDB: radarr_main
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__LOG__DBENABLED: "False"
              RADARR__LOG__LEVEL: info
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: 7878
                  initialDelaySeconds: 50
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # System.IO.IOException: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 400Mi
    service:
      radarr:
        controller: *name
        ports:
          http:
            port: &port 7878
    ingress:
      radarr:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "radarr.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: radarr
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: radarr
      media:
        enabled: true
        existingClaim: media
        globalMounts:
          - path: /data
    networkpolicies:
      radarr:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      cnpg.io/cluster: radarr-postgres-v18
                      cnpg.io/instanceRole: primary
              ports:
                - port: 5432
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: prowlarr
                      app.kubernetes.io/instance: media-prowlarr
                      app.kubernetes.io/name: media-prowlarr
              ports:
                - port: 9696
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: qbittorrent
                      app.kubernetes.io/instance: media-qbittorrent
                      app.kubernetes.io/name: media-qbittorrent
              ports:
                - port: 8080
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: gotify
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyfin
                      app.kubernetes.io/instance: media-jellyfin
                      app.kubernetes.io/name: media-jellyfin
              ports:
                - port: 8096
            - to: # metadata
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: bazarr
                      app.kubernetes.io/instance: media-bazarr
                      app.kubernetes.io/name: media-bazarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyseerr
                      app.kubernetes.io/instance: media-jellyseerr
                      app.kubernetes.io/name: media-jellyseerr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: prowlarr
                      app.kubernetes.io/instance: media-prowlarr
                      app.kubernetes.io/name: media-prowlarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: recyclarr
                      app.kubernetes.io/instance: media-recyclarr
                      app.kubernetes.io/name: media-recyclarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: scraparr
                      app.kubernetes.io/instance: media-scraparr
                      app.kubernetes.io/name: media-scraparr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: unpackerr
                      app.kubernetes.io/instance: media-unpackerr
                      app.kubernetes.io/name: media-unpackerr
              ports:
                - port: *port