---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name daily-audio-ripper
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection: enabled
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      daily-audio-ripper:
        type: cronjob
        cronjob:
          schedule: "59 10 * * *"
        containers:
          daily-audio-ripper:
            image:
              repository: ghcr.io/davralin/youtube-dl
              tag: latest@sha256:9bfcfca3aea9f67e659b8104329c20b215049c226c5c18dea60a52ba696563f2
            command: ['/media/audioripper.sh']
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    persistence:
      media:
        enabled: true
        existingClaim: media
        advancedMounts:
          daily-audio-ripper:
            daily-audio-ripper:
              - path: /media
                subPath: audio