---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name utility
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      utility:
        containers:
          utility:
            image:
              repository: ghcr.io/davralin/utility
              tag: latest@sha256:b5d3946c619ae931c3dfd0ac1646455906b7a8fd35ec0bf99ed0a23d0d2ab1d2
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
    persistence:
      data:
        enabled: true
        existingClaim: media
      pinchflat:
        enabled: true
        existingClaim: pinchflat-media
      rclone:
        enabled: true
        existingClaim: rcloneconfig
      tmp:
        enabled: true
        type: emptyDir
    networkpolicies:
      utility:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress: []
          ingress: []