---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name forgejo
  namespace: flux-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: forgejo
  targetNamespace: forgejo
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
    image:
      rootless: true
    ingress:
      enabled: true
      annotations:
        haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
        haproxy.org/ssl-redirect-port: "443"
        haproxy.org/response-set-header: |
          Strict-Transport-Security "max-age=31536000"
          X-Frame-Options "DENY"
          X-Content-Type-Options "nosniff"
          Referrer-Policy "strict-origin-when-cross-origin"
      hosts:
        - host: &host "forgejo.${SECRET_DEFAULT_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
              port: http
      tls:
        - secretName: "${SECRET_DEFAULT_DOMAIN_CERT}"
          hosts:
            - *host
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    service:
      ssh:
        type: LoadBalancer
        loadBalancerIP: 10.0.1.44
        externalTrafficPolicy: Local