---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name forgejo
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: forgejo
      version: 15.0.3
      sourceRef:
        kind: OCIRepository
        name: forgejo-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: forgejo
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    image:
      rootless: true