---
apiVersion: v1
kind: Namespace
metadata:
  name: forgejo
---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: deny-all
  namespace: forgejo
spec:
  podSelector: {}
  policyTypes:
    - Egress
    - Ingress