---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: forgejo
  namespace: forgejo
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
