---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forgejo-volsync
  namespace: forgejo
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: forgejo
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: volsync
      namespace: flux-system
    - name: forgejo
      namespace: flux-system
  values:
    resources:
      - apiVersion: volsync.backube/v1alpha1
        kind: ReplicationSource
        metadata:
          name: forgejo
          namespace: forgejo
        spec:
          sourcePVC: forgejo
          trigger:
            schedule: "04 01 * * *"
          rclone:
            copyMethod: Direct
            rcloneConfigSection: homenas.internal-s3
            rcloneDestPath: "volsync-${CLUSTER_NAME}-rclone/forgejo"
            rcloneConfig: rclone-config
            moverSecurityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: "OnRootMismatch"
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault