---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name immich
  namespace: flux-system
spec:
  interval: 30m
  timeout: 12h
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: nextcloud
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - targetPath: controllers.main.containers.main.env.DB_PASSWORD
      kind: Secret
      name: immich-pg-secret
      valuesKey: password
    - targetPath: controllers.main.containers.main.env.DB_USERNAME
      kind: Secret
      name: immich-pg-secret
      valuesKey: username
  values:
    immich:
      metrics:
        enabled: "${MONITORING_PROMETHEUS}"
      persistence:
        library:
          existingClaim: immich
    controllers:
      main:
        containers:
          main:
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.4.1
            env:
              DB_HOSTNAME: immich-postgres-v16-rw
              DB_DATABASE_NAME: immich
              LOG_LEVEL: verbose
              REDIS_HOSTNAME: immich-valkey
              TZ: "${TIMEZONE}"
    machine-learning:
      controllers:
        main:
          strategy: Recreate
      persistence:
        cache:
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          storageClass: "${STORAGE_READWRITEONCE}"
        external:
          enabled: true
          existingClaim: nextcloud
          readOnly: true
    server:
      controllers:
        main:
          strategy: Recreate
      probes:
        liveness:
          enabled: true
          custom: true
          spec:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
        readiness:
          enabled: true
          custom: true
          spec:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3000
        startup:
          enabled: true
          custom: true
          spec:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 60
      persistence:
        external:
          enabled: true
          existingClaim: nextcloud
          readOnly: true
      ingress:
        main:
          enabled: true
          annotations:
            haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
            haproxy.org/ssl-redirect-port: "443"
            haproxy.org/response-set-header: |
              Strict-Transport-Security "max-age=31536000"
              X-Frame-Options "DENY"
              X-Content-Type-Options "nosniff"
              Referrer-Policy "strict-origin-when-cross-origin"
          hosts:
            - host: "immich.${SECRET_DEFAULT_DOMAIN}"
              paths:
                - path: "/"
          tls:
            - secretName: "${SECRET_DEFAULT_DOMAIN_CERT}"
    valkey:
      enabled: false