---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus
      version: 8.9.1
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: kube-prometheus
    prometheus:
      persistence:
        enabled: true
        size: 30G
        storageClass: "${STORAGE_READWRITEONCE}"
      retention: 3d
    alertmanager:
      config:
        global:
          resolve_timeout: 5m
        route:
          group_by: ["alertname", "job"]
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 12h
          receiver: matrix
          routes: []
        receivers:
          - name: matrix
            webhook_configs:
            - url: 'http://matrix-alertmanager.matrix:3000/alerts?secret=${SECRET_MATRIX_ALERTMANAGER_SECRET}'
      persistence:
        enabled: true
        storageClass: "${STORAGE_READWRITEONCE}"
    blackboxExporter:
      enabled: false
    kubeProxy:
      enabled: false
