apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-basic-auth
    namespace: nextcloud
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:LUkAnwJ4MmDz,iv:sCgROUPQAlViaCt26URdPmtPqbJDvzPUiFnA21JeyX8=,tag:tt2d8DpNIohh0j034SgFyg==,type:str]
    password: ENC[AES256_GCM,data:ofX4GgWaRum3oPiTSNFqoIEUces+R7wI/t3IZPaxCvs=,iv:HVL8Um/OsGR5iJNztM6NABgQh7e3cgnxTr6UV9+JLZg=,tag:dM/pO+hEsbcrcO9tHNeJzQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnRmdqekNyaHhiTVVXbmlH
            ZmR4QTVjTEUzSmdIVDA2WGxqR3p6eXhsd0VZCjJEQlJVODV6YXRGeWwxTGMwMmEz
            UzdtdHlpMWVrU085RE9XakVhT3BxaG8KLS0tIHIyeUJJRFQwbTlyZ0VRZkpoR2xJ
            TlJLM1hXcjROVHBVNFhpcFVxNmhuTjQKGt9HqbxMTUMZPi55cuG+jgFqp011Fu9x
            Z2FnQxHelpYCQ7OZ2VpgnFbOJ+P0HKSZnCcXNzFvFAOYLxWoSCCdnA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-29T00:23:56Z"
    mac: ENC[AES256_GCM,data:b2lSuQTztmJcz3RQzpoiXkyfD90a3m2WVmx9XvfKDTqgvvNSHnyLSibF+y89Ifp7WD+rMIpXxySFBrKDzZZ8g0qv1QmTvbvlOTHyQnxZRNITpFqVewmPwrNQMNCKmnZj2mWJlQ9P9jTP0OgiHpb0BVOH+hBT1qQR5UidIwO700Q=,iv:sbFomMqD3xJndCZX2HI2BZlVWQyiNr7KwLxQ2QI9HNQ=,tag:gTcGJ/oxsIELZ1OvnhmUxg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-postgres-v18
    namespace: nextcloud
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:AIM82POVkzSR6JPIfwQE5FBfZug=,iv:oaXcSPOprrWhiw1f1YXlkGC5OYoafADQAGBqvZLlzgI=,tag:/Iw/BrjCoQ/8oUZ76qza6A==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:N2cqPFJfFrA85c/8Neq+xlIWN0w+UczOGdRrKvwubm1HWSB35QehoQ==,iv:5m9YOiC+SNHU8UaPa9fXE+OCG4ONbzqy9RG9zdFalOs=,tag:njlc85yRd/aH+KG9T7UMWw==,type:str]
    password: ENC[AES256_GCM,data:v3s8IBdi5pbeZB1WNMMzOWmgR23XIzwFO4M0lQeRGvXNuCVEYFVLQGpNlWeG6kk525h9ixwnbRcAzxkKBbKMDg==,iv:EBEbpqZSQkj2W4qlzXixoDGFYhIwCYmIuCdXCeT1qXU=,tag:uf/W7W3hXkdiGZouqCvYdg==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnRmdqekNyaHhiTVVXbmlH
            ZmR4QTVjTEUzSmdIVDA2WGxqR3p6eXhsd0VZCjJEQlJVODV6YXRGeWwxTGMwMmEz
            UzdtdHlpMWVrU085RE9XakVhT3BxaG8KLS0tIHIyeUJJRFQwbTlyZ0VRZkpoR2xJ
            TlJLM1hXcjROVHBVNFhpcFVxNmhuTjQKGt9HqbxMTUMZPi55cuG+jgFqp011Fu9x
            Z2FnQxHelpYCQ7OZ2VpgnFbOJ+P0HKSZnCcXNzFvFAOYLxWoSCCdnA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-29T00:23:56Z"
    mac: ENC[AES256_GCM,data:b2lSuQTztmJcz3RQzpoiXkyfD90a3m2WVmx9XvfKDTqgvvNSHnyLSibF+y89Ifp7WD+rMIpXxySFBrKDzZZ8g0qv1QmTvbvlOTHyQnxZRNITpFqVewmPwrNQMNCKmnZj2mWJlQ9P9jTP0OgiHpb0BVOH+hBT1qQR5UidIwO700Q=,iv:sbFomMqD3xJndCZX2HI2BZlVWQyiNr7KwLxQ2QI9HNQ=,tag:gTcGJ/oxsIELZ1OvnhmUxg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
