apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-basic-auth
    namespace: nextcloud
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:pFuXvqVBTEbu,iv:zOOKIkXRnfxfEpr1h/kP9L9he1h3GxYKPVxb6XD5mVU=,tag:i71i7TSABLz5XPK2GF6k8g==,type:str]
    password: ENC[AES256_GCM,data:USD389XkH4a/SfCFpKE038dD//YVDCYGFmd+0yK1pKQ=,iv:c1k2EFo6EvUa08M53DXPJSRr2e7TbtmuBV1gLMsgYE0=,tag:u7vbZ/R1Xql1p6pE+L/ESw==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBZd09admVpRDBxMEpPMFAr
            QnJvUUFrcEwxU2EyWUxwQjhNMGZQbnptQjJzClczRHpPaHhsaDluL1hZd01pWTFo
            YXhUcmtOSis5WHUvblJNYUlUNGtaRWsKLS0tIE13bGwwdHFBY05SQXhMNG0vbXJr
            M1RmeTRaVy84WHE0RDErZ1hvWFhCUFEK/wYNRJncxfW1Pc/e0wdubohlBkufxwwq
            oS2aRamNeosyqd5EM+Si+01CWekwZyjc2eLBVr5pjCd3hXLxW0oJYg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:13:10Z"
    mac: ENC[AES256_GCM,data:B+7+pRI5CThLSHeajsENvgKYX6Esr7JW1+mx7nh1DDsCiJZv1vZA+9pyjNPp9MenOZ2Rg0DQOMUWEEawAjLZJBnImHCR7zCBOaoUyDL1O3/6u/jq9qoRwWIYlFB/PAHfP1LQ2/Ce3jPJwOS0bMpCOVYxIeSgsZKtrD1gC6aZSoI=,iv:D0sAt/8h2bDmvgk82D374huBzviAjrg827m2d/0Fw5g=,tag:i8Y8UKKSgvPid1LZGhx26A==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-postgres-v18
    namespace: nextcloud
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:PKd0D7OHfg6NS6NdxLSOLF3r1UWzclOXXNE=,iv:GzaafXDRS2F4LN3gfpCj97v9PbKcI/zR3Qm+tWGVHF4=,tag:lu89XqryEUvUQZKQTdIrSA==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:l8WyDVLcM7PbBkB4EwJWsPYtqODR3PGCP+n9Jd50uvcnyHEbzpzgGckhFq0i1j61EFWq3VTXQOxSh16mE4EzWg==,iv:BKkT0ldV4vSJoqqJMlchvZQp+3p7EbhvqJhTFAs2dgY=,tag:bwR2qXCiJ5ZvFdKi9Ddu7g==,type:str]
    region: ENC[AES256_GCM,data:xZqcR0jE,iv:xP2RYpPqPZZgk1xR6p4KAhILzTh9CEjS4mMbpnyy0YM=,tag:Z9PDKmBc8Q1bNze1zFlO1w==,type:str]
    password: ENC[AES256_GCM,data:b3c+QEGZErBwsl7WcwCbwVSiVJKO4nHXW7NtZOBfnmEEj33sRqQZcEZPnX2PUct9Vz6NGfX0g4HkGSuXh4EvJw==,iv:k28rCB8bZt3so96bxtuxmLSt8joHKTV3HkUf4h98Ajs=,tag:8UwinTa0GAJqialH7J3a+w==,type:str]
sops:
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBZd09admVpRDBxMEpPMFAr
            QnJvUUFrcEwxU2EyWUxwQjhNMGZQbnptQjJzClczRHpPaHhsaDluL1hZd01pWTFo
            YXhUcmtOSis5WHUvblJNYUlUNGtaRWsKLS0tIE13bGwwdHFBY05SQXhMNG0vbXJr
            M1RmeTRaVy84WHE0RDErZ1hvWFhCUFEK/wYNRJncxfW1Pc/e0wdubohlBkufxwwq
            oS2aRamNeosyqd5EM+Si+01CWekwZyjc2eLBVr5pjCd3hXLxW0oJYg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-17T21:13:10Z"
    mac: ENC[AES256_GCM,data:B+7+pRI5CThLSHeajsENvgKYX6Esr7JW1+mx7nh1DDsCiJZv1vZA+9pyjNPp9MenOZ2Rg0DQOMUWEEawAjLZJBnImHCR7zCBOaoUyDL1O3/6u/jq9qoRwWIYlFB/PAHfP1LQ2/Ce3jPJwOS0bMpCOVYxIeSgsZKtrD1gC6aZSoI=,iv:D0sAt/8h2bDmvgk82D374huBzviAjrg827m2d/0Fw5g=,tag:i8Y8UKKSgvPid1LZGhx26A==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
