apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-basic-auth
    namespace: nextcloud
type: kubernetes.io/basic-auth
stringData:
    username: ENC[AES256_GCM,data:YwVWiupjee7n,iv:IMwOYT0Sx/7XWG7ZMLEWMSkRqzWtfTmZHvzohpKnTyQ=,tag:uxYHpfaeVKsNnWhoXzAe8Q==,type:str]
    password: ENC[AES256_GCM,data:tyGwykdYijivObNUcLmFvdCPGDAOMAKBOYuK5jb/aDg=,iv:8QkxLKgOvy5cRHTlTVrRcqeocTP3YL48hXv5iokGmeI=,tag:XQFqDRYltnVj3LGuHx6TjA==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBvVHBzQjNJbmJUTUtOWEFo
            Rmx5dHVnZ1REOHduRitnZXF4dWRvMEZKdHlvCjVDNjVTUGFVN1JTK3ZNcGwzVlpF
            aGd2V0lFUlpudU9tbmNsd0Q0KzB1R28KLS0tIDVwYVBsSCtOMnZlQTdXZytsT3M5
            M1RFbExwQ2g4N282TzIyMlRQbTdDc0UKACRPcy+pq1A31biAQvA2HboZTjBAI0Mw
            wcxA4jXtWo1rWaOWVGwSQl4WQIY+Ecwy+r7chkAx0Xd4B54aS7jLzw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T23:08:47Z"
    mac: ENC[AES256_GCM,data:tcX6v6JLzmv9woYXuUODrqBRTb4RuEc5M/84IU+CBwRBloBOZi3EOUtzWOH8FJeTcMjxdkhaH2gSb3yfFZZAK+iSlbVo1CT2ewmUj3fh9WEVxn4ypuZWvWnEwmYEwY1sTPZmiSRdUFtF4MoNhZLhUYY4bmz0pPbQH7CUASVLglI=,iv:C70ir4qmH3Q3mvL0GObwmgBtFHdumwkwZCNb6Hu6Umc=,tag:kNRRJg2XYd9zMYA3e3mevA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-postgres-v17
    namespace: nextcloud
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:QWXT/oJf41qo+O0BFvvAciB3Tx8=,iv:fHim9ybuQJjGWyRk4/LQ9DNuw/ZOKnBX7dwdSCg6XVE=,tag:fX5ifdFPn939a2+13jBUbg==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:iCztRJw9ayJIx2JCEIOv6xMgOgam20eDW2pOvmAdVvDOg49OqtFl4A==,iv:Ms3K+ipR9vlmUASIAbN16t61pCmPp4m6ae6g7/9fEW4=,tag:moMA2N3QIJD1UkTdk/F4xA==,type:str]
    password: ENC[AES256_GCM,data:cAzQOG1dSpmGYmJyB9U5n7vgrZvYb6exEQwql70KXp6ep2O/lduUnkf27wWjfHCZnyueLMbR8hFintxvvvZ29g==,iv:zsKjAoAYLbLm88Q+/r606wmnAVstGi37vk1uU1BeQuA=,tag:7p0Pe4NpRhbdSx20uRAReQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBvVHBzQjNJbmJUTUtOWEFo
            Rmx5dHVnZ1REOHduRitnZXF4dWRvMEZKdHlvCjVDNjVTUGFVN1JTK3ZNcGwzVlpF
            aGd2V0lFUlpudU9tbmNsd0Q0KzB1R28KLS0tIDVwYVBsSCtOMnZlQTdXZytsT3M5
            M1RFbExwQ2g4N282TzIyMlRQbTdDc0UKACRPcy+pq1A31biAQvA2HboZTjBAI0Mw
            wcxA4jXtWo1rWaOWVGwSQl4WQIY+Ecwy+r7chkAx0Xd4B54aS7jLzw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T23:08:47Z"
    mac: ENC[AES256_GCM,data:tcX6v6JLzmv9woYXuUODrqBRTb4RuEc5M/84IU+CBwRBloBOZi3EOUtzWOH8FJeTcMjxdkhaH2gSb3yfFZZAK+iSlbVo1CT2ewmUj3fh9WEVxn4ypuZWvWnEwmYEwY1sTPZmiSRdUFtF4MoNhZLhUYY4bmz0pPbQH7CUASVLglI=,iv:C70ir4qmH3Q3mvL0GObwmgBtFHdumwkwZCNb6Hu6Umc=,tag:kNRRJg2XYd9zMYA3e3mevA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-postgres-v18
    namespace: nextcloud
type: Opaque
stringData:
    s3-access-key: ENC[AES256_GCM,data:y5ck7vgyQq13Ig1U25qkeU4xp7g=,iv:Trq88HNtXf8533I5AqhOZnMs7beG8GNgb5QbWWJfRgI=,tag:pHL92Y7XE6AumDGoQb7UKA==,type:str]
    s3-secret-key: ENC[AES256_GCM,data:Z97L5Hw2MZNOtAPz4OydRPECyOCucDT5asl5cBtaWPz9slPNk8C08A==,iv:jQ6woKOrqDFKPgiH3c+40vK3IU18Pu35wOKDRwP2VjY=,tag:UXvjJhONhfqFAzq2nivk9g==,type:str]
    password: ENC[AES256_GCM,data:y1kEFB6dCjOVgnW5LxCe1fDgCYN2KzPO1xe2YYACZ9+re+WnQYVHQsRCBQKWlrNsqsYdvkjIo1aJ5j6PdGciIw==,iv:hQMXUS4oExaAIEx7zVEQ1ooWDrlO3pBt+W3HCcdlfE8=,tag:EsV3EoiS6ZnKU9N9/UZ7ig==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age13s49lz9hcwqdlgyyde5zr2ynryc5jsydmyvpvhx0klqd0ylkkq0szd3xtm
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBvVHBzQjNJbmJUTUtOWEFo
            Rmx5dHVnZ1REOHduRitnZXF4dWRvMEZKdHlvCjVDNjVTUGFVN1JTK3ZNcGwzVlpF
            aGd2V0lFUlpudU9tbmNsd0Q0KzB1R28KLS0tIDVwYVBsSCtOMnZlQTdXZytsT3M5
            M1RFbExwQ2g4N282TzIyMlRQbTdDc0UKACRPcy+pq1A31biAQvA2HboZTjBAI0Mw
            wcxA4jXtWo1rWaOWVGwSQl4WQIY+Ecwy+r7chkAx0Xd4B54aS7jLzw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T23:08:47Z"
    mac: ENC[AES256_GCM,data:tcX6v6JLzmv9woYXuUODrqBRTb4RuEc5M/84IU+CBwRBloBOZi3EOUtzWOH8FJeTcMjxdkhaH2gSb3yfFZZAK+iSlbVo1CT2ewmUj3fh9WEVxn4ypuZWvWnEwmYEwY1sTPZmiSRdUFtF4MoNhZLhUYY4bmz0pPbQH7CUASVLglI=,iv:C70ir4qmH3Q3mvL0GObwmgBtFHdumwkwZCNb6Hu6Umc=,tag:kNRRJg2XYd9zMYA3e3mevA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.1
