---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global-settings
  namespace: flux-system
data:
  TIMEZONE: "Europe/Oslo"
  CLUSTER_NAME: "homeprod"
  HAPROXY_WHITELIST: "10.0.0.0/8"
  STORAGE_READWRITEONCE: "ceph-block"
  STORAGE_READWRITEMANY: "ceph-filesystem"
  MONITORING_PROMETHEUS: "true"
  BLACKBOX_EXPORTER_URL: "blackbox-exporter.blackbox-exporter.svc.cluster.local:9115"