---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - global-settings-sops.yaml
  - global-settings.yaml
  - helm-release-cilium-lb-ipam.yaml
  - helm-release-cluster-probes.yaml
  - helm-release-flux-gitrepo.yaml
  - helm-release-flux-private.yaml
  - ../../cert-manager
  - ../../charts
  - ../../cilium
  - ../../default-np
  - ../../flux
  - ../../haproxy
  - ../../prometheus-crd
  - ../../reflector