---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name archivebox
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: archivebox
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      securityContext:
        # App doesn't even log anything.
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      archivebox:
        containers:
          archivebox:
            image:
              repository: ghcr.io/archivebox/archivebox
              tag: 0.8.5rc51
            args: ["server"]
            env:
              TZ: "${TIMEZONE}"
              PUID: 1000
              PGID: 1000
              ALLOWED_HOSTS: "archive.${SECRET_DEFAULT_DOMAIN}"
              CSRF_TRUSTED_ORIGINS: "https://archive.${SECRET_DEFAULT_DOMAIN}"
            securityContext:
              allowPrivilegeEscalation: false
              # App doesn't even log anything.
              readOnlyRootFilesystem: false
              #capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 2Gi
    service:
      archivebox:
        controller: *name
        ports:
          http:
            port: 8000
    ingress:
      archivebox:
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "no-referrer-when-downgrade"
        hosts:
          - host: &host "archive.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: archivebox
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: archivebox