---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name archivebox
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: archivebox
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # App doesn't even log anything.
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        # fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      archivebox:
        initContainers:
          init:
            image:
              repository: ghcr.io/archivebox/archivebox
              tag: 0.7.3 #dev@sha256:cec01d4a9c9211395802cfd2ed30b9263edc428ad19ca503999270b66bc94c71
            args: ["init"]
            env:
              TZ: "${TIMEZONE}"
              PUID: 911
              PGID: 911
              ALLOWED_HOSTS: "archive.${SECRET_DEFAULT_DOMAIN}"
              CSRF_TRUSTED_ORIGINS: "https://archive.${SECRET_DEFAULT_DOMAIN}"
            securityContext:
              allowPrivilegeEscalation: false
              # App doesn't even log anything.
              readOnlyRootFilesystem: false
              # [X] Error: archivebox user (PUID=911) is not able to write to your ./data dir (currently owned by 911:911.
              #capabilities:
              #  add:
              #    - CHOWN
              #  drop:
              #    - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 2Gi
        containers:
          archivebox:
            image:
              repository: ghcr.io/archivebox/archivebox
              tag: 0.7.3 #dev@sha256:cec01d4a9c9211395802cfd2ed30b9263edc428ad19ca503999270b66bc94c71
            args: ["server"]
            env:
              TZ: "${TIMEZONE}"
              PUID: 911
              PGID: 911
              ALLOWED_HOSTS: "archive.${SECRET_DEFAULT_DOMAIN}"
              CSRF_TRUSTED_ORIGINS: "https://archive.${SECRET_DEFAULT_DOMAIN}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # App doesn't even log anything.
              readOnlyRootFilesystem: false
              # [X] Error: archivebox user (PUID=911) is not able to write to your ./data dir (currently owned by 911:911.
              #capabilities:
              #  add:
              #    - CHOWN
              #  drop:
              #    - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 2Gi
    service:
      archivebox:
        controller: *name
        ports:
          http:
            port: &port 8000
    ingress:
      archivebox:
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "archive.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: archivebox
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: archivebox
    networkpolicies:
      archivebox:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port