---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name karakeep
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: karakeep
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          karakeep:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.29.1
            env:
              BROWSER_WEB_URL: http://karakeep-chrome.karakeep.svc.cluster.local:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              CRAWLER_FULL_PAGE_SCREENSHOT: true
              CRAWLER_FULL_PAGE_ARCHIVE: true
              CRAWLER_JOB_TIMEOUT_SEC: 240
              CRAWLER_NAVIGATE_TIMEOUT_SEC: 120
              CRAWLER_VIDEO_DOWNLOAD: true
              CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: -1
              CRAWLER_VIDEO_DOWNLOAD_TIMEOUT_SEC: 1200
              DATA_DIR: /data
              DISABLE_SIGNUPS: true
              MEILI_ADDR: http://karakeep-meilisearch.karakeep.svc.cluster.local:7700
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: meilisearch_master_key
              NEXTAUTH_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: encryption_key
              NEXTAUTH_URL: "https://karakeep.${SECRET_DEFAULT_DOMAIN}"
              DISABLE_NEW_RELEASE_CHECK: true
              COREPACK_INTEGRITY_KEYS: 0
              S6_READ_ONLY_ROOT: 1
              OLLAMA_BASE_URL: http://ollama.ollama.svc.cluster.local:11434
              INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
              INFERENCE_JOB_TIMEOUT_SEC: 600
              INFERENCE_TEXT_MODEL: gpt-oss:20b
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              # S6-overlay sucks.
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
              fsGroupChangePolicy: "OnRootMismatch"
              runAsNonRoot: false
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
      chrome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              # ERROR:platform_shared_memory_region_posix.cc(214)] Creating shared memory in
              # /tmp/.org.chromium.Chromium.XXXXXX failed: Read-only file system (30)
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
      meilisearch:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - karakeep-karakeep
                      - key: app.kubernetes.io/controller
                        operator: In
                        values:
                          - karakeep
                  topologyKey: kubernetes.io/hostname
        containers:
          meilisearch:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.29.0
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: meilisearch_master_key
              HF_HOME: /meili_data/hf_home
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              # ERROR meilisearch: error=Read-only file system (os error 30)
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi
    service:
      karakeep:
        controller: *name
        primary: true
        ports:
          http:
            port: 3000
      chrome:
        controller: chrome
        ports:
          http:
            port: 9222
      meilisearch:
        controller: meilisearch
        ports:
          http:
            port: 7700
    ingress:
      karakeep:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "karakeep.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: karakeep
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        existingClaim: karakeep
        advancedMounts:
          karakeep:
            karakeep:
              - path: /data
                subPath: karakeep
          meilisearch:
            meilisearch:
              - path: /meili_data
                subPath: meilisearch
      # Failed to write image to cache JXUmFfUqFn4PInl-1vtDwKCUKRDWa0AkY7H-z+TAoP0=
      # Error: ENOENT: no such file or directory, mkdir '/app/apps/web/.next/cache'
      app-next-cache:
        type: emptyDir
        advancedMounts:
          karakeep:
            karakeep:
              - path: /app/apps/web/.next/cache
      # S6-overlay sucks
      run:
        type: emptyDir
        advancedMounts:
          karakeep:
            karakeep:
              - path: /run
      # Error: ENOENT: no such file or directory, mkdir '/tmp/tsx-0'
      tmp:
        type: emptyDir
        advancedMounts:
          karakeep:
            karakeep:
              - path: /tmp