---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name lidatube
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: lidarr
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        # chown: /lidatube/.git/FETCH_HEAD: Operation not permitted
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      lidatube:
        containers:
          lidatube:
            image:
              repository: docker.io/thewicklowwolf/lidatube
              tag: 0.2.42@sha256:5f26abe59c56b08bf8483da3d9df312b2c16dd793d1fe15f82d04973cd2e9a16
            env:
              TZ: "${TIMEZONE}"
              lidarr_api_key: "${SECRET_LIDARR_API_KEY}"
              lidarr_address: "http://lidarr.media.svc.cluster.local:8686"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # Seems like the app copies it's src into the container when starting
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 300Mi
              limits:
                memory: 1Gi
    service:
      lidatube:
        controller: *name
        ports:
          http:
            port: &port 5000
    ingress:
      lidatube:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "lidatube.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: lidatube
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: lidatube
        globalMounts:
          - path: /lidatube/config
      media:
        existingClaim: media
        globalMounts:
          - path: /lidatube/downloads
            subPath: audio/cache/
      pipcache:
        type: emptyDir
        globalMounts:
          - path: /.cache/pip
    networkpolicies:
      lidatube:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
              ports:
                - port: 8686
                  protocol: TCP
            - to: # Needs to connect to youtube to do it's thing
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port