---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name lidatube
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        # chown: /lidatube/.git/FETCH_HEAD: Operation not permitted
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
        seccompProfile:
          type: RuntimeDefault
    controllers:
      lidatube:
        containers:
          lidatube:
            image:
              repository: docker.io/thewicklowwolf/lidatube
              tag: 0.2.41@sha256:50c08f3e88f3eab99450b08f5db58cfa29a02ac57faf142a5395278a4db3f76f
            env:
              TZ: "${TIMEZONE}"
              lidarr_api_key: "${SECRET_LIDARR_API_KEY}"
              lidarr_address: "http://lidarr.media.svc.cluster.local:8686"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - CHOWN
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 300Mi
              limits:
                memory: 1Gi
    service:
      lidatube:
        controller: *name
        ports:
          http:
            port: 5000
    ingress:
      lidatube:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "lidatube.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: lidatube
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: lidatube
        globalMounts:
          - path: /lidatube/config
      lidatube:
        type: emptyDir
        globalMounts:
          - path: /lidatube
      media:
        existingClaim: media
        globalMounts:
          - path: /lidatube/downloads
            subPath: audio/music/
      pipcache:
        type: emptyDir
        globalMounts:
          - path: /.cache/pip