---

services:
  uptime-kuma:
    image: docker.io/louislam/uptime-kuma:2.1.3
    ports:
      - "{{ uptime_kuma_compose_web_port }}:3001"
    volumes:
      - "{{ uptime_kuma_compose_config_path }}:/app/data"
    environment:
      TZ: "Europe/Oslo"
    restart: always
