---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name sonarr
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: sonarr-postgres-v18
      namespace: flux-system
  valuesFrom:
    - targetPath: controllers.sonarr.containers.sonarr.env.SONARR__POSTGRES__PASSWORD
      kind: Secret
      name: sonarr-config
      valuesKey: POSTGRES_PASSWORD
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostname: *name
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      sonarr:
        containers:
          sonarr:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16.2946@sha256:3597fd572f4599c67abbeb8afd3cb85bce8a9e389f0779b7ea1273781544d15c
            env:
              TZ: "${TIMEZONE}"
              SONARR__AUTH__APIKEY: "${SECRET_SONARR_API_KEY}"
              SONARR__POSTGRES__HOST: sonarr-postgres-v18-rw.media.svc.cluster.local
              SONARR__POSTGRES__PORT: "5432"
              SONARR__POSTGRES__USER: "sonarr"
              SONARR__POSTGRES__MAINDB: sonarr_main
              SONARR__AUTH__METHOD: External
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__LOG__DBENABLED: "False"
              SONARR__LOG__LEVEL: info
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: 8989
                  initialDelaySeconds: 50
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # System.IO.IOException: Read-only file system
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 400Mi
    service:
      sonarr:
        controller: *name
        ports:
          http:
            port: &port 8989
    ingress:
      sonarr:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "sonarr.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: sonarr
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: sonarr
      media:
        enabled: true
        existingClaim: media
        globalMounts:
          - path: /data
    networkpolicies:
      sonarr:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: scraparr
                      app.kubernetes.io/instance: media-scraparr
                      app.kubernetes.io/name: media-scraparr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: unpackerr
                      app.kubernetes.io/instance: media-unpackerr
                      app.kubernetes.io/name: media-unpackerr
              ports:
                - port: *port