---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name superset
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: superset
      version: 0.15.0
      sourceRef:
        kind: HelmRepository
        name: superset-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: superset
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    runAsUser: 1000
    # Can't be bothered to standup CNPG atm
    postgresql:
      enabled: true
      image:
        tag: latest
    redis:
      enabled: false
    supersetNode:
      connections:
        redis_host: superset-valkey.superset.svc.cluster.local
        redis_port: "6379"
      podSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault