---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name emqx
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: emqx
      version: 5.8.5
      sourceRef:
        kind: HelmRepository
        name: emqx-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: emqx
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    persistence:
      enabled: true
    service:
      annotations:
        io.cilium/lb-ipam-ips: 10.0.1.42
      type: LoadBalancer
      #externalTrafficPolicy: Local
    metrics:
      enabled: "${MONITORING_PROMETHEUS}"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities: { drop: ["ALL"] }
    ingress:
      dashboard:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "no-referrer-when-downgrade"
        hosts:
          - &host "emqx.${SECRET_DEFAULT_DOMAIN}"
        tls:
          - hosts:
              - *host