---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: probe-tdarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: flux-system
    - name: blackbox-exporter
      namespace: flux-system
  values:
    resources:
      - apiVersion: monitoring.coreos.com/v1
        kind: Probe
        metadata:
          name: urlmonitoring-tdarr
          namespace: media
        spec:
          module: http_2xx
          prober:
            url: "${BLACKBOX_EXPORTER_URL}"
          targets:
            staticConfig:
              static:
                - "https://tdarr.${SECRET_DEFAULT_DOMAIN}"