---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr
  namespace: media
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr2
  namespace: media
spec:
  storageClassName: "${STORAGE_READWRITEMANY}" # ToDo - this should be converted
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi