---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tdarr
  namespace: media
spec:
  storageClassName: "${STORAGE_READWRITEMANY}" # ToDo - this should be converted
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi