---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name remotebackup
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  driftDetection:
    mode: enabled
  targetNamespace: remotebackup
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      remotebackup:
        type: cronjob
        cronjob:
          schedule: "32 */6 * * *"
        containers:
          remotebackup:
            image:
              repository: ghcr.io/davralin/rsync
              tag: latest@sha256:368a7d3b40e490e7f24ba116db6a883662532d538baceee968392b1bf67265a8
            command: ['/usr/bin/rsync']
            args: ["--archive", "--delete", "--verbose", "--rsync-path", "sudo rsync", "-e", "ssh -o StrictHostKeyChecking=no", "backup@nas.${SECRET_OFFSITE_DOMAIN}:/opt/local/", "/home/user/backup/"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      remotebackup:
        enabled: true
        existingClaim: remotebackup
        globalMounts:
          - path: /home/user/backup
      sshkey:
        enabled: true
        type: secret
        name: sshkey
        defaultMode: 0600
        advancedMounts:
          remotebackup:
            remotebackup:
              - path: /home/user/.ssh/id_ed25519
                subPath: id_ed25519
                readOnly: true
    networkpolicies:
      remotebackup:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # Offsite-SSH
              - ipBlock:
                  cidr: "${HAPROXY_WHITELIST}"
              ports:
                - port: 22
                  protocol: TCP
          ingress: []