---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: remotebackup
  namespace: remotebackup
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 300Gi
