pages:
  - name: Home
    columns:
      - size: full
        widgets:
          - type: releases
            show-source-icon: true
            collapse-after: -1
            limit: 60
            repositories:
              - cilium/cilium
              - falcosecurity/falco
              - fluxcd/flux2
              - glanceapp/glance
              - haproxytech/kubernetes-ingress
              - kubernetes-sigs/gateway-api
              - kubernetes-sigs/metrics-server
              - kubernetes-sigs/node-feature-discovery
              - rook/rook
              - siderolabs/talos
              - squidfunk/mkdocs-material

      - size: small
        widgets:
          - type: clock
            hour-format: 24h
            timezones:
              - timezone: "${TIMEZONE}"
                label: Oslo

          - type: calendar

          - type: rss
            cache: 20m
            feeds:
              - url: https://www.nrk.no/toppsaker.rss