---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 4.0.2
      sourceRef:
        kind: HelmRepository
        name: piraeus-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: kube-system
  install:
    crds: CreateReplace
    remediation:
      retries: 10
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 10
  uninstall:
    keepHistory: false
  values:
    controller:
      serviceMonitor:
        create: "${MONITORING_PROMETHEUS}"