---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name it-tools
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: it-tools
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      it-tools:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/corentinth/it-tools
              tag: latest@sha256:8b8128748339583ca951af03dfe02a9a4d7363f61a216226fc28030731a5a61f
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              # [emerg] 1#1: mkdir() "/var/cache/nginx/client_temp" failed (30: Read-only file system)
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 20Mi
              limits:
                memory: 60Mi
    service:
      app:
        controller: *name
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "no-referrer-when-downgrade"
        hosts:
          - host: &host "tools.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      # [emerg] 1#1: mkdir() "/var/cache/nginx/client_temp" failed (13: Permission denied)
      cache:
        type: emptyDir
        globalMounts:
          - path: /var/cache/nginx/
      # [emerg] 1#1: open() "/var/run/nginx.pid" failed (13: Permission denied)
      run:
        type: emptyDir
        globalMounts:
          - path: /var/run