---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name it-tools
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: it-tools
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      it-tools:
        strategy: RollingUpdate
        containers:
          waf:
            image:
              repository: owasp/modsecurity-crs
              tag: 4.22.0-nginx-202601060501@sha256:98ceea88fc06ec4421ebf112c0d28f4f73d3aa4eaf1ee1772edcce6cdc38055c
            env:
              TZ: "${TIMEZONE}"
              PORT: 1337
              BACKEND: http://localhost:8080
              PARANOIA: 1
            #probes:
            #  liveness: &probes
            #    enabled: true
            #  readiness: *probes
            #  startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
                memory: 20Mi
              #limits:
              #  memory: 60Mi
          it-tools:
            image:
              repository: ghcr.io/home-operations/it-tools
              tag: 2024.10.22@sha256:7f26ae8d7a4a58b8d70b685cba5cbaa54d7df876d9f8bae702207f45b06d9b7c
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
                memory: 20Mi
              limits:
                memory: 60Mi
    service:
      it-tools:
        controller: *name
        ports:
          http:
            port: &port 1337
    ingress:
      it-tools:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "tools.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: it-tools
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    networkpolicies:
      it-tools:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
          - Egress
        rules:
          egress: []
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port