---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name jellyfin
  namespace: flux-system
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        supplementalGroups:
          - 44
          - 109
          - 100
    controllers:
      jellyfin:
        containers:
          jellyfin:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 1
                memory: 2Gi
                gpu.intel.com/i915: 1
              limits:
                memory: 4Gi
                gpu.intel.com/i915: 1
    service:
      jellyfin:
        controller: *name
        ports:
          http:
            port: &port 8096
    ingress:
      jellyfin:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "jellyfin.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: jellyfin
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: jellyfin
      media:
        enabled: true
        existingClaim: media
        advancedMounts:
          jellyfin:
            jellyfin:
              - path: /data
                subPath: .
                readOnly: true
      tmp:
        type: emptyDir
      transcode:
        enabled: true
        type: emptyDir
      pinchflat-media:
        enabled: true
        existingClaim: pinchflat-media
        globalMounts:
          - path: /downloads
    networkpolicies:
      jellyfin:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Needs to reach out for artwork
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: gotify
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: ersatztv
                      app.kubernetes.io/instance: media-ersatztv
                      app.kubernetes.io/name: media-ersatztv
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyseerr
                      app.kubernetes.io/instance: media-jellyseerr
                      app.kubernetes.io/name: media-jellyseerr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellystat
                      app.kubernetes.io/instance: media-jellystat
                      app.kubernetes.io/name: media-jellystat
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: multiscrobbler
                      app.kubernetes.io/instance: media-multiscrobbler
                      app.kubernetes.io/name: media-multiscrobbler
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: readarr
                      app.kubernetes.io/instance: media-readarr
                      app.kubernetes.io/name: media-readarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: scraparr
                      app.kubernetes.io/instance: media-scraparr
                      app.kubernetes.io/name: media-scraparr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: speakarr
                      app.kubernetes.io/instance: media-speakarr
                      app.kubernetes.io/name: media-speakarr
              ports:
                - port: *port