---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name gotify
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: gotify
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      gotify:
        containers:
          gotify:
            image:
              repository: ghcr.io/gotify/server
              tag: 2.8.0@sha256:4702c392ca723d5016fc938c8b22572c3509efca812bdc5221d25158ba0201e3
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 150Mi
    service:
      gotify:
        controller: *name
        ports:
          http:
            port: &port 80
    ingress:
      gotify:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "gotify.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: gotify
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      gotify:
        enabled: true
        existingClaim: gotify
        globalMounts:
          - path: /app/data
    networkpolicies:
      gotify:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress: []
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: igotify
                      app.kubernetes.io/instance: gotify-igotify
                      app.kubernetes.io/name: gotify-igotify
                - namespaceSelector:
                    matchLabels:
                      name: epicgames-free
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: epicgames-free
                      app.kubernetes.io/instance: epicgames-free-epicgames-free
                      app.kubernetes.io/name: epicgames-free-epicgames-free
                - namespaceSelector:
                    matchLabels:
                      name: changedetection
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: changedetection
                      app.kubernetes.io/instance: changedetection-changedetection
                      app.kubernetes.io/name: changedetection-changedetection
                - namespaceSelector:
                    matchLabels:
                      name: mailrise
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: mailrise
                      app.kubernetes.io/instance: mailrise-mailrise
                      app.kubernetes.io/name: mailrise-mailrise
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyfin
                      app.kubernetes.io/instance: media-jellyfin
                      app.kubernetes.io/name: media-jellyfin
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: jellyseerr
                      app.kubernetes.io/instance: media-jellyseerr
                      app.kubernetes.io/name: media-jellyseerr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: prowlarr
                      app.kubernetes.io/instance: media-prowlarr
                      app.kubernetes.io/name: media-prowlarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: qbittorrent
                      app.kubernetes.io/instance: media-qbittorrent
                      app.kubernetes.io/name: media-qbittorrent
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: readarr
                      app.kubernetes.io/instance: media-readarr
                      app.kubernetes.io/name: media-readarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: speakarr
                      app.kubernetes.io/instance: media-speakarr
                      app.kubernetes.io/name: media-speakarr
                - namespaceSelector:
                    matchLabels:
                      name: media
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: tautulli
                      app.kubernetes.io/instance: media-tautulli
                      app.kubernetes.io/name: media-tautulli
                - namespaceSelector:
                    matchLabels:
                      name: wallos
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: wallos
                      app.kubernetes.io/instance: wallos-wallos
                      app.kubernetes.io/name: wallos-wallos
              ports:
                - port: *port