---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name gotify-alertmanager
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: gotify
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: gotify
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      gotify-alertmanager:
        containers:
          gotify-alertmanager:
            image:
              repository: registry.gitlab.com/egos-tech/alertmanager-notifier
              tag: 1.3.18@sha256:734084a41a916da1a63cc4feb5328ccc4b505b798c8b6417ca4d24a303c2c7fc
            env:
              GOTIFY_TOKEN: "${SECRET_ALERTMANAGER_GOTIFY}"
              GOTIFY_URL: "http://gotify.gotify.svc.cluster.local:80/message"
              EXCLUDE_LABELS: "no"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 150Mi
    service:
      gotify-alertmanager:
        controller: *name
        ports:
          http:
            port: &port 8899
    serviceMonitor:
      gotify-alertmanager:
        serviceName: *name
        enabled: "${MONITORING_PROMETHEUS}"
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 5s
    networkpolicies:
      gotify-alertmanager:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: monitoring
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: prometheus
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: monitoring
                  podSelector:
                    matchLabels:
                      alertmanager: kube-prom
                      app.kubernetes.io/instance: kube-prom
                      app.kubernetes.io/managed-by: prometheus-operator
                      app.kubernetes.io/name: alertmanager
              ports:
                - port: *port