---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name igotify
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: gotify
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: gotify
      namespace: flux-system
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      igotify:
        containers:
          igotify:
            image:
              repository: ghcr.io/androidseb25/igotify-notification-assist
              tag: v1.5.1.3@sha256:82314c9c2b99e786ef9f1b1249b44578fa7ad821c987fe677042e59b8c3990a0
            env:
              GOTIFY_URLS: "http://gotify"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 150Mi
    service:
      igotify:
        controller: *name
        ports:
          http:
            port: &port 8080
    ingress:
      igotify:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "igotify.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: igotify
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      igotify:
        enabled: true
        existingClaim: igotify
        globalMounts:
          - path: /app/data
    networkpolicies:
      igotify:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: gotify
                      app.kubernetes.io/instance: gotify-gotify
                      app.kubernetes.io/name: gotify-gotify
              ports:
                - port: 80
                  protocol: TCP
            - to:
                - podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
            - to: # push notifications I guess
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port