---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release-alertmanager.yaml
  - helm-release-igotify.yaml
  - helm-release.yaml
  - namespace.yaml
  - networkpolicy.yaml
  - probes.yaml
  - pvc.yaml