---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: alertmanager
      version: 0.29.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 15m
  targetNamespace: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: alertmanager
    config:
      receivers:
        - name: "TelegramAndDiscord"
          telegram_configs:
            - bot_token: "${SECRET_TELEGRAM_TOKEN}"
              api_url: "https://api.telegram.org"
              chat_id: "${SECRET_TELEGRAM_CHATID}"
              parse_mode: 'MarkdownV2'
          discord_configs:
            - webhook_url: "${SECRET_DISCORD_ALERTMANAGER_URL}"
      route:
        group_by: ["alertname", "job"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 6h
        receiver: "TelegramAndDiscord"
    ingress:
      enabled: true
      annotations:
        haproxy.org/whitelist: "${HAPROXY_WHITELIST}"
        haproxy.org/response-set-header: |
          Strict-Transport-Security "max-age=31536000"
          X-Frame-Options "DENY"
          X-Content-Type-Options "nosniff"
          Referrer-Policy "no-referrer-when-downgrade"
      hosts:
        - host: "alertmanager.${SECRET_PRIVATE_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: "${SECRET_PRIVATE_DOMAIN_CERT}"
