---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: endurain
  namespace: endurain
spec:
  storageClassName: "${STORAGE_READWRITEONCE}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi