---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name papra
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: papra
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      papra:
        containers:
          papra:
            image:
              repository: ghcr.io/papra-hq/papra
              tag: 25.11.0-rootless@sha256:7523da836a9a749655ee5b4bc046c0c13fa9b628c683923b081ddaed14f32e47
            env:
              APP_BASE_URL: "https://papra.${SECRET_DEFAULT_DOMAIN}"
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 25m
                memory: 256Mi
              limits:
                memory: 512Mi
    service:
      papra:
        controller: *name
        ports:
          http:
            port: &port 1221
    ingress:
      papra:
        enabled: true
        annotations:
          haproxy.org/allow-list: "${HAPROXY_WHITELIST}"
          haproxy.org/ssl-redirect-port: "443"
          haproxy.org/response-set-header: |
            Strict-Transport-Security "max-age=31536000"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin-when-cross-origin"
        hosts:
          - host: &host "papra.${SECRET_DEFAULT_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: papra
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /app/app-data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    networkpolicies:
      papra:
        enabled: true
        controller: *name
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector:
                    matchLabels:
                      name: haproxy-controller
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: kubernetes-ingress
              ports:
                - port: *port