---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name spegel
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: 0.5.1
      sourceRef:
        kind: HelmRepository
        name: spegel-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: spegel
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    grafanaDashboard:
      enabled: "${MONITORING_PROMETHEUS}"
    serviceMonitor:
      enabled: "${MONITORING_PROMETHEUS}"
    spegel:
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts