---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tubearchivist
  namespace: tubearchivist
spec:
  selector:
    matchLabels:
      app: tubearchivist
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        backup.velero.io/backup-volumes: ta-media,ta-cache,ta-es,ta-redis
      labels:
        app: tubearchivist
    spec:
      containers:
        - name: tubearchivist
          image: bbilly1/tubearchivist:v0.3.5
          ports:
            - name: http
              containerPort: 8000
          env:
            - name: TZ
              value: "${TIMEZONE}"
            - name: ES_URL
              value: "http://localhost:9200"
            - name: TA_HOST
              value: "https://tube.${SECRET_PRIVATE_DOMAIN}"
            - name: REDIS_HOST
              value: "localhost"
            - name: ENABLE_CAST
              value: "true"
            - name: TA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: tubearchivist-secrets
                  key: TA_USERNAME
            - name: TA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tubearchivist-secrets
                  key: TA_PASSWORD
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tubearchivist-secrets
                  key: ELASTIC_PASSWORD
          volumeMounts:
            - name: ta-cache
              mountPath: /cache
            - name: ta-media
              mountPath: /youtube
        - name: es
          image: elasticsearch:8.7.1
          ports:
            - name: es-http
              containerPort: 9200
          env:
            - name: TZ
              value: "${TIMEZONE}"
            - name: xpack.security.enabled
              value: "true"
            - name: discovery.type
              value: "single-node"
            - name: ES_JAVA_OPTS
              value: "-Xms512m -Xmx512m"
            - name: path.repo
              value: "/usr/share/elasticsearch/data/snapshot"
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tubearchivist-secrets
                  key: ELASTIC_PASSWORD
          volumeMounts:
            - name: ta-es
              mountPath: /usr/share/elasticsearch/data
        - name: redis
          image: redis/redis-stack-server:6.2.6-v4
          ports:
            - name: redis
              containerPort: 6379
          env:
            - name: TZ
              value: "${TIMEZONE}"
          volumeMounts:
            - name: ta-redis
              mountPath: /data
      restartPolicy: Always
      volumes:
        - name: ta-media
          persistentVolumeClaim:
            claimName: ta-media
        - name: ta-cache
          persistentVolumeClaim:
            claimName: ta-cache
        - name: ta-es
          persistentVolumeClaim:
            claimName: ta-es
        - name: ta-redis
          persistentVolumeClaim:
            claimName: ta-redis
