---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name plex
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        supplementalGroups:
          - 44
          - 109
          - 100
    controllers:
      plex:
        containers:
          plex:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 1
                memory: 2Gi
                gpu.intel.com/i915: 1
              limits:
                memory: 3Gi
                gpu.intel.com/i915: 1
    service:
      plex:
        controller: *name
        type: LoadBalancer
        #externalTrafficPolicy: Local
        loadBalancerIP: 10.0.1.30
        ports:
          http:
            port: 32400
    persistence:
      config:
        enabled: true
        existingClaim: plex
      media:
        enabled: true
        existingClaim: media
        advancedMounts:
          plex:
            plex:
              - path: /data
                subPath: .
                readOnly: true
      transcode:
        enabled: true
        type: emptyDir