---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name plex
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  values:
    fullnameOverride: *name
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        supplementalGroups:
          - 44
          - 109
          - 100
    controllers:
      plex:
        containers:
          plex:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 1
                memory: 2Gi
                gpu.intel.com/i915: 1
              limits:
                memory: 3Gi
                gpu.intel.com/i915: 1
    service:
      plex:
        controller: *name
        type: LoadBalancer
        #externalTrafficPolicy: Local
        loadBalancerIP: 10.0.1.30
        ports:
          http:
            port: &port 32400
    persistence:
      config:
        enabled: true
        existingClaim: plex
      media:
        enabled: true
        existingClaim: media
        advancedMounts:
          plex:
            plex:
              - path: /data
                subPath: .
                readOnly: true
      transcode:
        enabled: true
        type: emptyDir
    networkpolicies:
      plex:
        enabled: true
        controller: *name
        policyTypes:
          - Egress
          - Ingress
        rules:
          egress:
            - to: # Needs to phone home to plex
              - ipBlock:
                  cidr: 0.0.0.0/0
                  except:
                  - "${HAPROXY_WHITELIST}"
              ports:
                - port: 443
                  protocol: TCP
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: kube-system
                  podSelector:
                    matchLabels:
                      k8s-app: kube-dns
              ports:
                - port: 53
                  protocol: UDP
          ingress:
            - from:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                - port: 32400
            - from:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: blackbox-exporter
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: prometheus-blackbox-exporter
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: lidarr
                      app.kubernetes.io/instance: media-lidarr
                      app.kubernetes.io/name: media-lidarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: multiscrobbler
                      app.kubernetes.io/instance: media-multiscrobbler
                      app.kubernetes.io/name: media-multiscrobbler
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: radarr
                      app.kubernetes.io/instance: media-radarr
                      app.kubernetes.io/name: media-radarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: readarr
                      app.kubernetes.io/instance: media-readarr
                      app.kubernetes.io/name: media-readarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: sonarr
                      app.kubernetes.io/instance: media-sonarr
                      app.kubernetes.io/name: media-sonarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: speakarr
                      app.kubernetes.io/instance: media-speakarr
                      app.kubernetes.io/name: media-speakarr
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/controller: tautulli
                      app.kubernetes.io/instance: media-tautulli
                      app.kubernetes.io/name: media-tautulli
              ports:
                - port: *port