---
apiVersion: v1
kind: Secret
metadata:
  name: plex-volsync-secret
  namespace: media
type: Opaque
stringData:
  RESTIC_REPOSITORY: "s3:${SECRET_S3_URL}/volsync-${CLUSTER_NAME}/plex"
  RESTIC_PASSWORD: "${SECRET_VOLSYNC_RESTIC_PWD}"
  AWS_ACCESS_KEY_ID: "${SECRET_VOLSYNC_ACCESS_KEYS}"
  AWS_SECRET_ACCESS_KEY: "${SECRET_VOLSYNC_SECRET_KEYS}"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-volsync
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: dysnix-charts
        namespace: flux-system
      interval: 30m
  targetNamespace: media
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: volsync
      namespace: flux-system
    - name: plex
      namespace: flux-system
  values:
    resources:
      - apiVersion: volsync.backube/v1alpha1
        kind: ReplicationSource
        metadata:
          name: plex
          namespace: media
        spec:
          sourcePVC: plex
          trigger:
            schedule: "04 03 * * *"
          restic:
            copyMethod: Direct
            cacheStorageClassName: "${STORAGE_READWRITEONCE}"
            cacheAccessModes: ["ReadWriteOnce"]
            pruneIntervalDays: 7
            repository: plex-volsync-secret
            moverSecurityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: "OnRootMismatch"
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault
            retain:
              daily: 7
              within: 3d